<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name="content">

        <div class="main-menu">
            <h:outputStylesheet name="css/style-parent-basic.css"/>
            <h:outputStylesheet name="css/style-employee-main.css"/>
        </div>
        <div class="page-content container">

            <h:form id="attendanceForm">
                <div>
                    <div>

                        <p:dataTable var="attendance" value="#{attendanceListController.attendancesOfChildrenByParent}"
                                     widgetVar="attendanceTable" id="attendanceTable"
                                     scrollable="true" scrollHeight="200" emptyMessage="Keine Anwesenheiten gefunden"
                                     rowKey="#{attendance.id}"  filteredValue="#{attendanceListController.filteredAttendances}"
                                     tableStyle="table-layout: auto" selectionMode="single"
                                     selection="#{attendanceDetailController.attendance}" style="margin-top: 20px;"
                                     sortBy="#{attendance.dayPlan.id.time}" sortOrder="ascending">
                            <f:facet name="header">
                                <p:outputPanel class="header-text">
                                    <h:outputText value="Suche nach Anwesenheit: " style="color: white;margin-right: 7px;"/>
                                    <p:inputText id="globalFilter" onkeyup="PF('attendanceTable').filter()" style="width: 200px; font-size: 14px;" placeholder="Information eingeben"/>
                                </p:outputPanel>
                            </f:facet>


                            <p:column headerText="Tag">
                                <h:outputText value="#{attendance.dayPlan.id.time}">
                                    <f:convertDateTime pattern="dd.MM.yyyy" timeZone="CET"/>
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Kind" filterBy="#{attendance.child.firstName} #{attendance.child.lastName}" filterMatchMode="contains" filterStyle="display: none;" sortBy="#{attendance.child.firstName} #{attendance.child.lastName}">
                                <h:outputText value="#{attendance.child.firstName} #{attendance.child.lastName}"/>
                            </p:column>

                            <p:column headerText="Abholperson" filterBy="#{attendance.pickUpPerson.firstName}  #{attendance.pickUpPerson.lastName}" filterMatchMode="contains" filterStyle="display: none;" sortBy="#{attendance.pickUpPerson.firstName}  #{attendance.pickUpPerson.lastName}">
                                <h:outputText value="#{attendance.pickUpPerson.firstName} #{attendance.pickUpPerson.lastName}"/>
                            </p:column>

                            <p:column headerText="Mittagessen" filterBy="#{attendance.lunch.menu}" filterMatchMode="contains" filterStyle="display: none;" sortBy="#{attendance.lunch.menu}">
                                <h:outputText value="#{attendance.lunch.menu}"/>
                            </p:column>

                            <p:column style="text-align: center;">
                                <f:facet name="header">
                                    <h:outputText value="Anwesend"/>
                                </f:facet>
                                <p:commandButton icon="fa fa-fw fa-check"
                                                 actionListener="#{attendanceDetailController.setById(attendance.id)}"
                                                 action="#{attendanceDetailController.changeAttending()}" process="@this"
                                                 rendered="#{attendance.attending}">
                                </p:commandButton>
                                <p:commandButton icon="fa fa-fw"
                                                 actionListener="#{attendanceDetailController.setById(attendance.id)}"
                                                 action="#{attendanceDetailController.changeAttending()}" process="@this"
                                                 rendered="#{!attendance.attending}">
                                </p:commandButton>
                            </p:column>

                            <p:ajax event="rowSelect" update="@form" process="attendanceTable">
                                <f:setPropertyActionListener target="#{attendanceDetailController.setById}"
                                                             value="#{attendance.id}"/>
                            </p:ajax>

                        </p:dataTable>

                        <p:dialog header="Tagesanmeldung eintragen" id="attendanceCreationDialog"
                                  widgetVar="attendanceCreationDialog" modal="true" showEffect="fade" hideEffect="fade"
                                  resizable="false" closeOnEscape="true">
                            <p:outputPanel id="AttendanceEntry">


                                <h:panelGrid columns="2" id="attendance-entries">
                                    <p:outputLabel for="attendance-day" value="Tag: "/>
                                    <p:calendar value="#{attendanceCreateController.day}" showOn="button" locale="de"
                                                pattern="dd.MM.yyyy" mask="true" yearRange="c-10:c+0" required="true" styleClass="date" timeZone="CET"
                                                showOtherMonths="true" id="attendance-day"><p:ajax event="dateSelect"
                                                                                                   update="attendance-entries"/></p:calendar>

                                    <p:outputLabel for="invalid-day" value="Ungültiger Tag: " rendered="#{!attendanceCreateController.validDay and !attendanceCreateController.parentsChildren.isEmpty()}"/>
                                    <h:outputText id="invalid-day" rendered="#{!attendanceCreateController.validDay  and !attendanceCreateController.parentsChildren.isEmpty()}"
                                                  value="Für diesen Tag können Sie sich leider nicht (mehr) anmelden"/>

                                    <p:outputLabel for="valid-day" value="Gültiger Tag: " rendered="#{attendanceCreateController.validDay}"/>
                                    <h:outputText id="valid-day" rendered="#{attendanceCreateController.validDay}"
                                                  value="Die Kindergrippe hat an diesem Tag offen"/>

                                    <p:outputLabel for="already-registered" value="Bereits angemeldet: " rendered="#{attendanceCreateController.parentsChildren.isEmpty()}"/>
                                    <h:outputText id="already-registered" rendered="#{attendanceCreateController.parentsChildren.isEmpty()}"
                                                  value="Sie können keine weiteren Kinder für diesen Tag anmelden"/>

                                    <p:outputLabel for="attendance-child" value="Kind: "/>
                                    <p:selectOneMenu id="attendance-child" class="menu-dropdown"
                                                     value="#{attendanceCreateController.childId}"
                                                     disabled="#{!attendanceCreateController.validDay}">
                                        <p:ajax listener="#{attendanceCreateController.refreshCaregivers}"
                                                update="attendance-pickUpPerson"/>
                                        <f:selectItems value="#{attendanceCreateController.parentsChildren}" var="child"
                                                       itemValue="#{child.id}"
                                                       itemLabel="#{child.firstName} #{child.lastName}"/>
                                    </p:selectOneMenu>

                                    <p:outputLabel for="attendance-pickUpPerson" value="Abholperson: "/>
                                    <p:selectOneMenu id="attendance-pickUpPerson" class="menu-dropdown"
                                                     value="#{attendanceCreateController.pickUpPersonId}"
                                                     disabled="#{!attendanceCreateController.validDay}">
                                        <f:selectItem itemLabel="Auswählen " noSelectionOption="true"/>
                                        <f:selectItems value="#{attendanceCreateController.caregivers}" var="caregiver"
                                                       itemValue="#{caregiver.id}"
                                                       itemLabel="#{caregiver.firstName} #{caregiver.lastName}"/>
                                        <f:selectItems value="#{attendanceCreateController.parents}" var="parent"
                                                       itemValue="#{parent.id}"
                                                       itemLabel="#{parent.firstName} #{parent.lastName}"/>
                                    </p:selectOneMenu>

                                    <p:outputLabel for="config-attendance-day" value="Abweichende Zeiten: "/>
                                    <p:selectBooleanCheckbox value="#{attendanceCreateController.customTimes}" disabled="#{!attendanceCreateController.validDay}">
                                        <p:ajax update="attendance-arrivalTime attendance-departureTime create-save custom-time-allowed custom-time-not-allowed"/>
                                    </p:selectBooleanCheckbox>

                                    <p:outputLabel for="attendance-arrivalTime" value="Bringzeit: "/>
                                    <p:calendar value="#{attendanceCreateController.arrivalTime}" showOn="button"
                                                mask="true" navigator="true" timeZone="CET"
                                                pattern="HH:mm" timeOnly="true" id="attendance-arrivalTime"
                                                disabled="#{!attendanceCreateController.customTimes or !attendanceCreateController.validDay}">
                                        <p:ajax event="dateSelect" update="attendance-entries"/>
                                    </p:calendar>

                                    <p:outputLabel for="attendance-departureTime" value="Abholzeit: "/>
                                    <p:calendar value="#{attendanceCreateController.departureTime}" showOn="button"
                                                mask="true" navigator="true" timeZone="CET"
                                                pattern="HH:mm" timeOnly="true" id="attendance-departureTime"
                                                disabled="#{!attendanceCreateController.customTimes or !attendanceCreateController.validDay}">
                                        <p:ajax event="dateSelect" update="attendance-entries"/>
                                    </p:calendar>

                                <p:outputLabel for="custom-time-allowed" value="Nicht erlaubt: "
                                               rendered="#{attendanceCreateController.isCustomTimes() and !attendanceCreateController.checkCustomTimes()}"/>
                                <h:outputText id="custom-time-allowed" rendered="#{attendanceCreateController.isCustomTimes() and !attendanceCreateController.checkCustomTimes()}"
                                              value="Abholzeiten dürfen sich nicht so überschneiden"/>

                                <p:outputLabel for="custom-time-not-allowed" value="Erlaubt: "
                                               rendered="#{attendanceCreateController.checkCustomTimes() and attendanceCreateController.isCustomTimes()}"/>
                                <h:outputText id="custom-time-not-allowed" rendered="#{attendanceCreateController.isCustomTimes() and attendanceCreateController.checkCustomTimes()}"
                                              value="Diese Abholzeiten sind okay."/>



                                <h:panelGrid columns="2">
                                        <p:commandButton value="Speichern" id="create-save"
                                                         action="#{attendanceCreateController.saveAttendance}"
                                                         oncomplete="PF('attendanceCreationDialog').hide()"
                                                         update=":attendanceForm:attendanceTable"
                                                         disabled="#{!attendanceCreateController.checkCustomTimes()}"
                                                         class="button-save"/>
                                        <p:commandButton value="Abbrechen" onclick="PF('attendanceCreationDialog').hide()"
                                                         class="button-abort"/>
                                    </h:panelGrid>
                                </h:panelGrid>

                            </p:outputPanel>
                        </p:dialog>


                        <p:dialog header="Tagesanmeldung bearbeiten" id="attendanceEditDialog"
                                  widgetVar="attendanceEditDialog" modal="true" showEffect="fade" hideEffect="fade"
                                  resizable="false" closeOnEscape="true">
                            <p:outputPanel id="AttendanceData"
                                           rendered="#{not empty attendanceCreateController.attendance}">

                                <h:panelGrid columns="2" id="config-attendance-entries">
                                    <p:outputLabel for="config-attendance-day" value="Tag: "/>
                                    <p:calendar value="#{attendanceCreateController.day}" showOn="button" locale="de"
                                                pattern="dd.MM.yyyy" mask="true" yearRange="c-10:c+0" required="true" styleClass="date" timeZone="CET"
                                                showOtherMonths="true" id="config-attendance-day" disabled="true"/>

                                    <p:outputLabel for="config-attendance-day" value="Abweichende Zeiten: "/>
                                    <p:selectBooleanCheckbox value="#{attendanceCreateController.customTimes}">
                                        <p:ajax event="change" update="config-attendance-day save config-attendance-arrivalTime config-attendance-departureTime config-custom-time-allowed config-custom-time-not-allowed"/>
                                    </p:selectBooleanCheckbox>

                                    <p:outputLabel for="config-attendance-arrivalTime" value="Bringzeit: "/>
                                    <p:calendar value="#{attendanceCreateController.arrivalTime}" showOn="button"
                                                mask="true" navigator="true" timeZone="CET"
                                                pattern="HH:mm" timeOnly="true" id="config-attendance-arrivalTime"
                                                disabled="#{!attendanceCreateController.customTimes}">
                                        <p:ajax event="dateSelect" update="config-attendance-entries"/>
                                    </p:calendar>

                                    <p:outputLabel for="config-attendance-departureTime" value="Abholzeit: "/>
                                    <p:calendar value="#{attendanceCreateController.departureTime}" showOn="button"
                                                mask="true" navigator="true" timeZone="CET"
                                                pattern="HH:mm" timeOnly="true" id="config-attendance-departureTime"
                                                disabled="#{!attendanceCreateController.customTimes}">
                                        <p:ajax event="dateSelect" update="config-attendance-entries"/>
                                    </p:calendar>

                                    <p:outputLabel for="config-custom-time-allowed" value="Nicht erlaubt: "
                                                   rendered="#{attendanceCreateController.isCustomTimes() and !attendanceCreateController.checkCustomTimes()}"/>
                                    <h:outputText id="config-custom-time-allowed" rendered="#{attendanceCreateController.isCustomTimes() and !attendanceCreateController.checkCustomTimes()}"
                                                  value="Abholzeiten dürfen sich nicht so überschneiden"/>

                                    <p:outputLabel for="config-custom-time-not-allowed" value="Erlaubt: "
                                                   rendered="#{attendanceCreateController.isCustomTimes() and attendanceCreateController.checkCustomTimes()}"/>
                                    <h:outputText id="config-custom-time-not-allowed" rendered="#{attendanceCreateController.isCustomTimes() and attendanceCreateController.checkCustomTimes()}"
                                                  value="Diese Abholzeiten sind okay."/>

                                    <p:outputLabel for="config-attendance-child" value="Kind: "/>
                                    <h:inputText id="config-attendance-child" disabled="true" value="#{attendanceCreateController.attendance.child.firstName} #{attendanceCreateController.attendance.child.lastName}"/>

                                    <p:outputLabel for="config-attendance-pickUpPerson" value="Abholperson: "/>
                                    <p:selectOneMenu id="config-attendance-pickUpPerson" class="menu-dropdown"
                                                     value="#{attendanceCreateController.pickUpPersonId}">
                                        <f:selectItem itemLabel="Auswählen " noSelectionOption="true"/>
                                        <f:selectItems value="#{attendanceCreateController.caregivers}" var="caregiver"
                                                       itemValue="#{caregiver.id}"
                                                       itemLabel="#{caregiver.firstName} #{caregiver.lastName}"/>
                                        <f:selectItems value="#{attendanceCreateController.parents}" var="parent"
                                                       itemValue="#{parent.id}"
                                                       itemLabel="#{parent.firstName} #{parent.lastName}"/>
                                    </p:selectOneMenu>

                                    <p:outputLabel for="config-attendance-attending" value="Anwesend: "/>
                                    <p:selectBooleanCheckbox id="config-attendance-attending" value="#{attendanceCreateController.attendance.attending}"/>


                                    <h:panelGrid columns="2">
                                        <p:commandButton value="Speichern" id="save"
                                                         action="#{attendanceCreateController.saveAttendance}"
                                                         oncomplete="PF('attendanceEditDialog').hide()"
                                                         update=":attendanceForm:attendanceTable"
                                                         disabled="#{!attendanceCreateController.checkCustomTimes()}"
                                                         class="button-save"/>
                                        <p:commandButton value="Abbrechen" onclick="PF('attendanceEditDialog').hide()"
                                                         class="button-abort"/>
                                    </h:panelGrid>
                                </h:panelGrid>
                            </p:outputPanel>
                        </p:dialog>


                        <p:dialog header="Abmelden" id="attendanceDeleteDialog" widgetVar="attendanceDeleteDialog"
                                  modal="true" showEffect="fade" hideEffect="fade" resizable="false" closeOnEscape="true" >
                            <p>#{attendanceDetailController.attendance.child.firstName} #{attendanceDetailController.attendance.child.lastName} für diesen Tag abmelden?</p>
                            <p:commandButton value="Abmelden" action="#{attendanceDetailController.delete}"
                                             oncomplete="PF('attendanceDeleteDialog').hide()" update=":attendanceForm:attendanceTable"
                                             class="button-save"/>
                            <p:commandButton value="Abbrechen" onclick="PF('attendanceDeleteDialog').hide()"
                                             class="button-abort"/>

                        </p:dialog>

                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="300">
                            <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes"
                                             icon="ui-icon-check"/>
                            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no"
                                             icon="ui-icon-close"/>
                        </p:confirmDialog>
                    </div>
                </div>

                <div class="row">
                    <div class="buttons-fix">
                        <p:commandLink id="register-attendance" update="@form"
                                       oncomplete="PF('attendanceCreationDialog').show();">
                            <div class="col-md-6 button-fix reg" id="config-action">
                                <p:ajax listener="#{attendanceCreateController.resetAttendance()}" update="attendanceCreationDialog"/>
                                <img src="../../resources/images/add_user-green.png" class="button-fix-icon"
                                     id="registration-icon"/>
                                <h3 class="button-register-text">ANMELDEN</h3>
                            </div>
                        </p:commandLink>

                        <!-- Config button if attendance selected -->
                        <c:if id="config-selected" test="#{attendanceDetailController.attendanceSelected}">
                            <p:commandLink id="configdata" update="@form"
                                           oncomplete="PF('attendanceEditDialog').show();">
                                <div class="col-md-6 button-fix config">
                                    <f:setPropertyActionListener target="#{attendanceCreateController.attendance}"
                                                                 value="#{attendanceDetailController.attendance}"/>
                                    <img src="../../resources/images/pen-purple.png" class="button-fix-icon"
                                         id="config-icon"/>
                                    <h3 class="button-config-text">DATEN BEARBEITEN</h3>
                                </div>
                            </p:commandLink>
                        </c:if>

                        <!-- Config button if no attendance is selected -->
                        <c:if id="config-not-selected" test="#{!attendanceDetailController.attendanceSelected}">
                            <div class="col-md-6 button-fix dereg-inactive">
                                <img src="../../resources/images/pen-gray.png" class="button-fix-icon"/>
                                <h3 class="button-deregister-text-inactive">DATEN BEARBEITEN</h3>
                            </div>
                        </c:if>

                    </div>
                </div>

            </h:form>
        </div>

        <script type="text/javascript">
            PrimeFaces.locales['de'] = {
                closeText: 'Schließen',
                prevText: 'Zurück',
                nextText: 'Weiter',
                monthNames: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
                monthNamesShort: ['Jan', 'Feb', 'März', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez'],
                dayNames: ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
                dayNamesShort: ['Son', 'Mon', 'Die', 'Mit', 'Don', 'Fre', 'Sam'],
                dayNamesMin: ['So', 'Mo', 'Di', 'Mi ', 'Do', 'Fr ', 'Sa'],
                weekHeader: 'Woche',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: '',
                timeOnlyTitle: 'Nur Zeit',
                timeText: 'Zeit',
                hourText: 'Stunde',
                minuteText: 'Minute',
                secondText: 'Sekunde',
                currentText: 'Aktuelles Datum',
                ampm: false,
                month: 'Monat',
                week: 'Woche',
                day: 'Tag',
                allDayText: 'Ganzer Tag' };
        </script>
    </ui:define>
</ui:composition>