<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:define name="content">
        <div class="main-menu">
            <h:outputStylesheet name="css/style-employee-main.css"/>
        </div>
        <h:head />
        <div class="page-content container">
            <h:body onload="#{childDetailController.setChildById(tempSaveBean.requestIdOnce())}" >       
                <h:form id="form">                                                 
                    
                    <!-- Child selection -->

                            <p:dataTable var="child" value="#{childListController.enabledChildren}" widgetVar="childTable" id="child-table" scrollable="true" scrollHeight="200"
                                         emptyMessage="Keine Kinder gefunden" filteredValue="#{childListController.filteredChildren}" class="table" 
                                         tableStyle="table-layout: auto" selectionMode="single" selection="#{childDetailController.child}" rowKey="#{child.id}" style="margin-top: 20px;">
                                <f:facet name="header">
                                    <p:outputPanel class="header-text" style="text-align: left;">
                                        <h:outputText value="Suche nach Kind: " style="color: white; font-weight: 500;"/>
                                        <p:inputText id="globalFilter" onkeyup="PF('childTable').filter()" style="width: 200px; font-size: 16px;" placeholder="Name eingeben"/>
                                    </p:outputPanel>
                                </f:facet>
                                    
                                <p:column headerText="Bild" width="102">
                                    <h:commandButton image="/imageChild?id=#{child.id}" actionListener="#{imageController.setIdForChild(child.id)}"  style="max-height: 45px;">
                                        <p:ajax event="click" listener="#{imageController.setIdForChild(child.id)}" process="@this" update=":form:picShow" oncomplete="PF('pictureBig').show()"/>
                                    </h:commandButton>
                                </p:column>
                                    
                                <p:column headerText="Vorname" filterBy="#{child.firstName}" filterMatchMode="contains" filterStyle="display: none;" sortBy="#{child.firstName}">
                                    <h:outputText value="#{child.firstName}"/>
                                </p:column>    
                                    
                                <p:column headerText="Nachname" filterBy="#{child.lastName}" filterMatchMode="contains" filterStyle="display: none;" sortBy="#{child.lastName}">
                                    <h:outputText value="#{child.lastName}" />
                                </p:column>                                
                                    
                                <p:column headerText="Geburtstag" width="150px;" style="text-align: center;" filterBy="#{child.birthdate.time}" filterMatchMode="contains" filterStyle="display:none;">
                                    <h:outputText value="#{child.birthdate.time}">
                                        <f:convertDateTime pattern="dd.MM.yyyy" locale="de" timeZone="CET"/>
                                    </h:outputText>
                                </p:column>
                                    
                                <p:column headerText="Notfallkontakt" filterBy="#{child.emergencyContact.firstName} #{child.emergencyContact.lastName}" filterMatchMode="contains" filterStyle="display:none;">
                                    <h:outputText value="#{child.emergencyContact.lastName} #{child.emergencyContact.firstName} &lt;br/&gt;" escape="false" style="width: 100%;" />
                                    <h:outputText value="#{child.emergencyContact.privatePhone}"/>
                                </p:column>
                                    
                                <p:ajax event="rowSelect" update="form" process="child-table">
                                    <f:setPropertyActionListener target="#{childDetailController.childById}" value="#{child.id}"/>
                                </p:ajax>                                                                  
                                    
                            </p:dataTable>           
                        
                        
                    <!-- Gray buttons if no child is selected -->                
                    <p:panelGrid id="not-selected" rendered="#{!childDetailController.childSelected}">
                        <div class="row">
                            <div class="buttons-relative">
                                <div class="col-md-4 button-passive">
                                    <img src="../../resources/images/file-gray.png" class="button-passive-icon"/>
                                    <h3 class="button-passive-text">STAMMBLATT</h3>
                                </div>
                                    
                                <div class="col-md-4 button-passive">
                                    <img src="../../resources/images/calendar-gray.png" class="button-passive-icon"/>
                                    <h3 class="button-passive-text" style="font-size: 20px;">ANMELDUNGEN</h3>
                                </div>
                                    
                                <div class="col-md-4 button-passive">
                                    <img src="../../resources/images/pen-gray.png" class="button-passive-icon"/>
                                    <h3 class="button-passive-text" style="margin-top: 25px;">DATEN <br/>BEARBEITEN</h3>
                                </div>
                            </div>
                        </div>
                    </p:panelGrid>                
                        
                        
                    <!-- Colored buttons if child is selected -->  
                    <p:panelGrid id="selected" rendered="#{childDetailController.childSelected}">
                        <div class="row">
                            <div class="buttons-relative">
                                <p:commandLink id="overviewsheet" oncomplete="PF('overview-sheet').show();">
                                    <div class="col-md-4 button-active button-blue" id="blade-action">
                                    
                                        <img src="../../resources/images/file-blue.png" class="button-active-icon" id="blade-icon"/>
                                        <h3 class="button-blue-text">STAMMBLATT</h3>                           
                                    </div></p:commandLink>
                                        
                                <p:commandLink id="contactdata" process="@this" update="form" oncomplete="PF('contact-dialog').show();">
                                    <div class="col-md-4 button-active button-orange" id="contact-action">
                                        <img src="../../resources/images/calendar-red.png" class="button-active-icon" id="contact-icon"/>
                                        <h3 class="button-orange-text">ANMELDUNGEN</h3>
                                    </div></p:commandLink>
                                        
                                <p:commandLink id="configdata" action="#{fileUploadController.setId(childDetailController.child.id)}" process="@this" 
                                               oncomplete="PF('config-child').show();"><div class="col-md-4 button-active button-purple" id="config-action">
                                        <img src="../../resources/images/pen-purple.png" class="button-active-icon" id="config-icon"/>
                                        <h3 class="button-purple-text" style="margin-top: 25px;">DATEN <br/>BEARBEITEN</h3>
                                    </div>
                                </p:commandLink>
                            </div>
                        </div>    
                    </p:panelGrid>
                        
                        
                    <!-- Register button -->
                    <div class="row">
                        <div class="buttons-fix">
                            <a href="./child-registration.xhtml" id="registrat-child"><div class="col-md-6 button-green">                                
                                    <img src="../../resources/images/add_user-green.png" class="button-big-icon"/>
                                    <h3 class="button-green-text">KIND ANMELDEN</h3>
                                </div></a>
                                    
                            <!-- Deregister button if child is selected -->
                            <c:if id="selected" test="#{childDetailController.childSelected}">      
                                <p:commandLink id="remove-child" onclick="PF('child-deregistration').show();"><div class="col-md-6 button-red">
                                        <img src="../../resources/images/remove_user-red.png" class="button-big-icon"/>
                                        <h3 class="button-red-text">KIND ABMELDEN</h3>
                                    </div></p:commandLink>
                            </c:if>
                                
                                
                            <!-- Deregister button if no child is selected -->
                            <c:if id="not-selected" test="#{!childDetailController.childSelected}">
                                <div class="col-md-6 button-fix button-big-inactive">
                                    <img src="../../resources/images/remove_user-gray.png" class="button-big-icon"/>
                                    <h3 class="button-big-inactive-text">KIND ABMELDEN</h3>
                                </div>
                            </c:if>
                        </div>                
                    </div>
                        
                        
                    <!-- Dialog to change attributes of child, called by 'Daten bearbeiten' button -->
                    <p:dialog header="Daten bearbeiten" widgetVar="config-child" modal="true" closeOnEscape="true" id="config-child">
                        <p:messages id="wrongInputCreate"/>
                         <p:scrollPanel style="border: none; height: 300px;" >
                        <p:outputPanel id="childData" style="width: 100%;" rendered="#{not empty childDetailController.child}">                        
                            <h:panelGrid columns="1" style="float: left;" class="col-md-5 grid" id="config-input" >
                                <p:outputLabel for="firstName" value="Vorname: " />
                                <p:inputText id="firstName" class="input-field" value="#{childDetailController.child.firstName}" 
                                             required="true" requiredMessage="Vorname fehlt!">
                                    <f:validateLength minimum="2"/>
                                </p:inputText>
                                    
                                <p:outputLabel for="firstName" value="Nachname: " style="margin-top: 20px;"/>
                                <p:inputText id="lastName" class="input-field" value="#{childDetailController.child.lastName}" 
                                             required="true" requiredMessage="Nachname fehlt!">
                                    <f:validateLength minimum="2"/>
                                </p:inputText>
                                    
                                <p:outputLabel for="birthdate" value="Geburtsdatum: " style="margin-top: 20px;"/>
                                <p:calendar id="birthdate" value="#{childDetailController.birthdate}" class="input-field-advanced" 
                                            pattern="dd.MM.yyyy" timeZone="CET" mask="true" required="true" style="width: 50% !important;"
                                            requiredMessage="Geburtstag fehlt!" locale="de" mindate="#{taskDetailController.currentDay}">
                                    <p:ajax event="dateSelect" update="@this"/>
                                    <p:ajax event="keyup" update="@this"/>
                                </p:calendar>
                                    
                                <p:outputLabel for="important" value="Wichtige Informationen: " style="margin-top: 20px;"/>
                                <p:inputTextarea id="important" value="#{childDetailController.child.importantInformation}" rows="6" cols="33" class="input-field"/> 
                                    
                                <p:outputLabel for="remarks" value="Anmerkungen: " style="margin-top: 20px;"/>
                                <p:inputTextarea id="remarks" value="#{childDetailController.child.remarks}" rows="6" cols="33" class="input-field"/>
                                    
                            </h:panelGrid>                                                            
                                
                            <h:panelGrid columns="1" class="col-md-5" width="100%;" style="margin-left: 50px;">
                               
                                <p:dataTable value="#{childDetailController.child.parents}" var="parent" class="table" style="max-width: 600px; margin-bottom: 0px;" 
                                             id="childParents" emptyMessage="Keine Eltern festgelegt">
                                    
                                    <p:column headerText="Bild" width="102">
                                        <h:commandButton image="/imageParent?id=#{parent.id}" actionListener="#{imageController.setIdForParent(parent.id)}"  style="max-height: 45px;">
                                            <p:ajax event="click" listener="#{imageController.setIdForParent(parent.id)}" process="@this" update=":form:picShow" oncomplete="PF('pictureBig').show()"/>
                                        </h:commandButton>
                                    </p:column>
                                        
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Eltern" />
                                        </f:facet>
                                        <h:outputText value="#{parent.firstName} #{parent.lastName}"/>
                                    </p:column>
                                        
                                    <p:column width="100px;" style="text-align: center;">
                                        <f:facet name="header">
                                            <h:outputText value="Entfernen" />
                                        </f:facet>                                        
                                        <p:commandButton icon="fa fa-fw fa-trash" actionListener="#{childDetailController.removeParent()}" process="@this" 
                                                         update=":form:childParents" class="button-delete">
                                            <f:setPropertyActionListener value="#{parent}" target="#{childDetailController.parent}"/>
                                            <p:confirm header="Elternteil löschen" message="Elternteil löschen?" />
                                        </p:commandButton>                                                                                        
                                    </p:column>
                                        
                                </p:dataTable>
                                    
                                
                                <p:column>
                                <p:commandButton icon="fa fa-fw fa-plus" class="button-create" id="create-parent-button" 
                                                 style="float: left;" action="./parent-registration.xhtml?faces-redirect=true"/>
                                <p:tooltip for="create-parent-button" value="Elternteil erstellen" position="bottom"/>
                                
                                <p:commandButton icon="fa fa-fw fa-share" id="assign-parent-button" oncomplete="PF('assign-parent').show()" style="float: left;" class="button-redirect"/>
                                <p:tooltip for="assign-parent-button" value="Elternteil zuweisen" position="bottom"/>
                                </p:column>
                                
                                
                                <p:dataTable value="#{childDetailController.child.caregivers}" var="care" class="table" style="max-width: 600px; margin-bottom: 0px;" 
                                             id="childCaregiver" emptyMessage="Keine Bezugspersonen festgelegt">
                                    
                                    <p:column headerText="Bild" width="102">
                                        <h:commandButton image="/imageCaregiver?id=#{care.id}" actionListener="#{imageController.setIdForCaregiver(care.id)}"  style="max-height: 45px;">
                                            <p:ajax event="click" listener="#{imageController.setIdForCaregiver(care.id)}" process="@this" update=":form:picShow" oncomplete="PF('pictureBig').show()"/>
                                        </h:commandButton>
                                    </p:column>
                                        
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Bezugspersonen" />
                                        </f:facet>
                                        <h:outputText value="#{care.firstName} #{care.lastName}"/>
                                    </p:column>
                                        
                                    <p:column width="100px;" style="text-align: center;">
                                        <f:facet name="header">
                                            <h:outputText value="Entfernen" />
                                        </f:facet>
                                        <p:commandButton icon="fa fa-fw fa-trash" process="@this" action="#{childDetailController.removeCaregiver()}"  
                                                         update=":form:childCaregiver" class="button-delete">
                                            <f:setPropertyActionListener value="#{care}" target="#{childDetailController.caregiver}"/>
                                            <p:confirm header="Bezugsperson löschen" message="Bezugsperson löschen?" />
                                        </p:commandButton> 
                                    </p:column>
                                </p:dataTable>
                                    
                                
                                <p:column>
                                <p:commandButton icon="fa fa-fw fa-plus" class="button-create" id="create-caregiver-button" 
                                                 actionListener="#{childDetailController.createCaregiver()}" update="" 
                                                 oncomplete="PF('create-caregiver').show();"  style="float:left;"/>
                                <p:tooltip for="create-caregiver-button" value="Bezugsperson erstellen" position="bottom"/>
                                
                                <p:commandButton icon="fa fa-fw fa-share" id="assign-caregiver-button" oncomplete="PF('select-caregiver').show()" style="float: left;" class="button-redirect"/>
                                <p:tooltip for="assign-caregiver-button" value="Bezugsperson zuweisen" position="bottom"/>
                                </p:column>  
                                
                                
                                <p:dataTable value="" class="table" style="max-width: 500px; margin-bottom: 0px;" id="childEmergency" emptyMessage="Kein Notfallkontakt festgelegt">
                                    
                                    <p:column headerText="Bild" width="102">
                                        <h:commandButton image="/imageParent?id=#{childDetailController.child.emergencyContact.id}"
                                                         actionListener="#{imageController.setIdForParent(childDetailController.child.emergencyContact.id)}" style="max-height: 45px;">
                                            <p:ajax event="click" listener="#{imageController.setIdForParent(childDetailController.child.emergencyContact.id)}" process="@this" 
                                                    update=":form:picShow" oncomplete="PF('pictureBig').show()"/>
                                        </h:commandButton>
                                    </p:column>
                                        
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Notfallkontakt" />
                                        </f:facet>
                                        <h:outputText value="#{childDetailController.child.emergencyContact.firstName} #{childDetailController.child.emergencyContact.lastName} "/>
                                    </p:column>
                                        
                                </p:dataTable>                             
                                    
                                <p:column>
                                <p:commandButton icon="fa fa-fw fa-plus" class="button-create" id="create-emergency-button" actionListener="#{childDetailController.createEmergencyContact()}" 
                                                 process="@this" update="@(.create-emergency)" oncomplete="PF('create-emergency').show();" style="float:left;"/>
                                <p:tooltip id="create-emergency-tooltip" for="create-emergency-button" value="Neuen Notfallkontakt erstellen" position="bottom"/>
                                
                                <p:commandButton icon="fa fa-fw fa-share" id="select-emergency-button" oncomplete="PF('select-emergency').show()" class="button-redirect" style="float: left;"/>
                                <p:tooltip id="select-emergency-tooltip" for="select-emergency-button" value="Neuen Notfallkontakt auswählen" position="bottom"/>
                                </p:column>
                                <p:graphicImage value="/imageChild?id=#{childDetailController.child.getId()}" style="max-width:150px; max-height: 150px; margin-bottom: 10px; margin-left: 0px; margin-top: 20px; float: left;"
                                                id="child-preview"/>
                                    
                                <p:fileUpload style="margin-top:10px; max-width: 300px; margin-bottom: 50px; float: left;" label="Bild auswählen" uploadLabel="Hochladen" cancelLabel="Abbrechen" 
                                              multiple="false" fileLimit="1"
                                              allowTypes="/(\.|\/)(jpe?g)$/" sizeLimit="18000000"
                                              fileUploadListener="#{fileUploadController.handleFileUploadChild}"
                                              invalidFileMessage="Nur JPG ist erlaubt!"
                                              invalidSizeMessage="Error"
                                              fileLimitMessage="Nur ein Bild!"
                                              update="child-preview"/>
                            </h:panelGrid>    
                        </p:outputPanel>
                         </p:scrollPanel>
                                
                            <p:separator style="clear: both; margin-top: 20px;"/>
                                
                            <h:panelGrid columns="1" class="grid col-md-5" id="config-end-input" style="float: left;">
                                <p:outputLabel for="deregistration" value="Abmeldedatum: "/>
                                <p:calendar id="deregistration" value="#{childDetailController.deregistrationDate}" pattern="dd.MM.yyyy" 
                                            class="input-field-advanced" mask="true" locale="de">
                                    <p:ajax event="dateSelect" update="@this"/>
                                    <p:ajax event="keyup" update="@this"/>
                                </p:calendar>
                            </h:panelGrid>
                            <h:panelGrid columns="1" class="grid col-md-5" style="float:left; margin-left: 50px; margin-bottom: 20px;">
                                <p:outputLabel for="enabled" value="Aktiv: "/>
                                <p:selectBooleanButton id="enabled" value="#{childDetailController.child.enabled}" offLabel="Aktiv setzen" onLabel="Inaktiv setzen"
                                                       class="button-boolean"/>
                            </h:panelGrid>
                                
                            <p:separator style="clear: both; margin-top: 20px;"/>
                            
                            <h:panelGrid columns="2">
                                <p:commandButton id="save" value="Speichern" process="config-input config-end-input @this" action="#{childDetailController.saveChanges()}" 
                                                 update="wrongInputCreate child-table" class="button-save"/>
                                <p:commandButton id="abort" value="Abbrechen" oncomplete="PF('config-child').hide()" class="button-abort"/>
                            </h:panelGrid>
                    </p:dialog> 
                    
                    <p:dialog widgetVar="assign-parent" modal="true" closeOnEscape="true" header="Elternteil hinzufügen">
                         <p:dataTable value="#{userListController.allParents}" var="parent" selectionMode="single" selection="#{childDetailController.parent}" rowKey="#{parent.id}"
                                      filteredValue="#{userListController.filteredParents}" widgetVar="emergencySelection" style="max-width: 600px;" class="table"
                                      scrollable="true" scrollHeight="400">    
                                         
                            <f:facet name="header">
                                <p:outputPanel class="header-text" style="text-align: left;">
                                    <h:outputText value="Suche nach Kind: " style="color: white; font-weight: 500; font-size: 16px;"/>
                                    <p:inputText id="globalFilter" onkeyup="PF('emergencySelection').filter()" style="width: 200px; font-size: 14px;" placeholder="Name eingeben"/>
                                </p:outputPanel>
                            </f:facet>
                                
                            <p:column headerText="Bild" width="102">
                                <h:commandButton image="/imageParent?id=#{parent.id}" actionListener="#{imageController.setIdForParent(parent.id)}"  style="max-height: 45px;">
                                    <p:ajax event="click" listener="#{imageController.setIdForParent(parent.id)}" process="@this" update=":form:picShow" oncomplete="PF('pictureBig').show()"/>
                                </h:commandButton>
                            </p:column>
                                
                            <p:column headerText="Vorname" filterBy="#{parent.firstName}" filterMatchMode="contains" filterStyle="display: none;" sortBy="#{parent.firstName}">
                                <h:outputText value="#{parent.firstName}"/>
                            </p:column>    
                                
                            <p:column headerText="Nachname" filterBy="#{parent.lastName}" filterMatchMode="contains" filterStyle="display: none;" sortBy="#{parent.lastName}">
                                <h:outputText value="#{parent.lastName}" />
                            </p:column>   
                                
                            <p:ajax event="rowSelect" process="@this">
                                <f:setPropertyActionListener value="#{parent.id}" target="#{childDetailController.parentById}"/>
                            </p:ajax>
                        </p:dataTable>
                        
                        <p:commandButton value="Auswählen" process="@this" action="#{childDetailController.assignParent()}" update=":form:childParents" 
                                         oncomplete="PF('assign-parent').hide()" class="button-save"/>
                        <p:commandButton value="Abbrechen" oncomplete="PF('assign-parent').hide()" class="button-abort"/>
                    </p:dialog>
                              
                    <p:dialog widgetVar="create-caregiver" modal="ture" closeOnEscape="true" dynamic="true" header="Bezugsperson erstellen">
                        <p:messages id="wrongInputCaregiverCreate"/>
                            
                        <h:panelGrid id="create-caregiver-input" columns="1" style="float: left;" class="grid col-md-5">
                            <p:outputLabel for="caregiver-firstname" value="Vorname: "/>
                            <p:inputText id="caregiver-firstname" class="input-field" value="#{childDetailController.caregiver.firstName}" label="Vorname" 
                                         required="true" requiredMessage="Vorname fehlt!" />
                                             
                            <p:outputLabel for="caregiver-lastname" value="Nachname: " style="margin-top: 20px;"/>
                            <p:inputText id="caregiver-lastname" class="input-field" value="#{childDetailController.caregiver.lastName}" label="Nachname" 
                                         required="true" requiredMessage="Nachname fehlt!"/>
                                             
                            <p:outputLabel for="caregiver-mail" value="E-Mail Adresse: " style="margin-top: 20px;"/>
                            <p:inputText id="caregiver-mail" class="input-field" label="E-Mail Adresse" required="true" 
                                         value="#{childDetailController.caregiver.email}" requiredMessage="E-Mail Adresse fehlt!"
                                         validatorMessage="E-Mail Adresse ungültig">
                                <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />                                 
                            </p:inputText>
                                
                            <p:outputLabel for="caregiver-number-private" value="Telefon privat: " style="margin-top: 20px;"/>
                            <p:inputMask id="caregiver-number-private" class="input-field" label="Telefonnummer privat" 
                                         value="#{childDetailController.caregiver.privatePhone}" required="true" style="width: 80%;"
                                         requiredMessage="Telefonnummer privat fehlt!" mask="+(99)999 - 9999?999999"/>
                                             
                            <p:outputLabel for="caregiver-number-business" value="Telefon geschäftlich: " style="margin-top: 20px;"/>
                            <p:inputMask id="caregiver-number-business" class="input-field" label="Telefonnummer geschäftlich" style="width: 80%;"
                                         value="#{childDetailController.caregiver.businessPhone}" required="false" mask="+(99)999 - 9999?999999"/>             
                        </h:panelGrid>
                            
                        <h:panelGrid columns="1" style="margin-bottom: 100px; float: left;" class="grid col-md-5">
                            <p:graphicImage value="/imageCaregiver?id=#{childDetailController.caregiver.id}" 
                                            style="max-width:150px; max-height: 150px; margin-bottom: 10px; margin-left: 50px; margin-top: 20px;" id="caregiverPic"/>
                                                
                            <p:fileUpload style="margin-top:10px; margin-left: 50px !important; max-width: 700px;" label="Profilbild" 
                                          uploadLabel="Upload" cancelLabel="Abbrechen" multiple="false" fileLimit="1"
                                          allowTypes="/(\.|\/)(jpe?g)$/" sizeLimit="18000000"
                                          fileUploadListener="#{fileUploadController.handleFileUploadChild}"
                                          invalidFileMessage="Nur JPG ist erlaubt!"
                                          invalidSizeMessage="Error"
                                          fileLimitMessage="Nur ein Bild!"
                                          update="caregiverPic"/>
                        </h:panelGrid>
                            
                        <p:separator style="clear: both; margin-top: 0;"/>
                        
                        <p:commandButton value="Speichern" process="create-caregiver-input @this" action="#{childDetailController.saveCaregiver()}"  
                                         update="wrongInputCaregiverCreate childCaregiver" class="button-save" id="success-create-caregiver" />                
                        <p:commandButton value="Abbrechen" oncomplete="PF('create-caregiver').hide()" class="button-abort"/>
                    </p:dialog>
                    
                    <p:dialog widgetVar="select-caregiver" modal="true" closeOnEscape="true" header="Bezugsperson auswählen">
                        <p:dataTable value="#{caregiverListController.caregivers}" var="caregiver" selectionMode="single" selection="#{childDetailController.caregiver}" 
                                     rowKey="#{caregiver.id}" filteredValue="#{caregiverListController.filteredCaregivers}" widgetVar="caregiverSelection" style="max-width: 600px;"
                                     class="table" scrollable="true" scrollHeight="400">
                            
                            <f:facet name="header">
                                <p:outputPanel class="header-text" style="text-align: left;">
                                    <h:outputText value="Suche nach Bezugsperson: " style="color: white; font-weight: 500; font-size: 16px;"/>
                                    <p:inputText id="globalFilter" onkeyup="PF('caregiverSelection').filter()" style="width: 200px; font-size: 14px;" placeholder="Name eingeben"/>
                                </p:outputPanel>
                            </f:facet>
                            
                            <p:column headerText="Bild" width="102">
                                <h:commandButton image="/imageCaregiver?id=#{caregiver.id}" actionListener="#{imageController.setIdForCaregiver(caregiver.id)}"  style="max-height: 45px;">
                                    <p:ajax event="click" listener="#{imageController.setIdForCaregiver(caregiver.id)}" process="@this" update=":form:picShow" oncomplete="PF('pictureBig').show()"/>
                                </h:commandButton>
                            </p:column>
                            
                            <p:column headerText="Vorname" filterBy="#{caregiver.firstName}" filterMatchMode="contains" filterStyle="display: none;" sortBy="#{caregiver.firstName}">
                                <h:outputText value="#{caregiver.firstName}"/>
                            </p:column>
                            
                            <p:column headerText="Nachname" filterBy="#{caregiver.lastName}" filterMatchMode="contains" filterStyle="display: none;" sortBy="#{caregiver.lastName}">
                                <h:outputText value="#{caregiver.lastName}"/>
                            </p:column>
                            
                            <p:ajax event="rowSelect" process="@this">
                                <f:setPropertyActionListener value="#{caregiver.id}" target="#{childDetailController.caregiverById}"/>
                            </p:ajax>
                        </p:dataTable>
                        
                        <p:commandButton value="Auswählen" process="@this" action="#{childDetailController.saveCaregiver()}" update="childCaregiver" 
                                         oncomplete="PF('select-caregiver').hide()" class="button-save"/>
                        <p:commandButton value="Abbrechen" oncomplete="PF('select-caregiver').hide()" class="button-abort"/>
                    </p:dialog>
                        
                    <!-- Dialog emergency person-->
                    <p:dialog widgetVar="create-emergency" modal="true" closeOnEscape="true" dynamic="true" header="Notfallkontakt bearbeiten">     
                        <p:messages id="wrongInputEmergency"/>
                            
                        <h:panelGrid id="create-emergency-input" columns="1" style="float: left;" class="grid col-md-5">
                            <p:outputLabel for="emergency-firstname" value="Vorname: "/>
                            <p:inputText id="emergency-firstname" class="input-field" value="#{childDetailController.emergency.firstName}" label="Vorname*" 
                                         required="true" requiredMessage="Vorname fehlt!" />                    
                                             
                            <p:outputLabel for="emergency-lastname" value="Nachname: "/>
                            <p:inputText id="emergency-lastname" class="input-field" value="#{childDetailController.emergency.lastName}" label="Nachname*" 
                                         required="true" requiredMessage="Nachname fehlt!"/>
                                             
                            <p:outputLabel for="emergency-mail" value="E-Mail Adresse: "/>
                            <p:inputText id="emergency-mail" class="input-field" label="E-Mail Adresse" required="true" value="#{childDetailController.emergency.email}" 
                                         requiredMessage="E-Mail Adresse fehlt!" validatorMessage="E-Mail Adresse ungültig!">
                                <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />                        
                            </p:inputText>
                                
                            <p:outputLabel for="emergency-number-private" value="Telefon privat: "/>
                            <p:inputMask id="emergency-number-private" class="input-field-advanced" label="Telefonnummer privat" 
                                         value="#{childDetailController.emergency.privatePhone}" 
                                         required="true" requiredMessage="Telefonnummber privat fehlt!" mask="+(99) 999 - 9999?999999"/>
                                             
                                             
                            <p:outputLabel for="emergency-number-business" value="Telefon geschäftlich: "/>
                            <p:inputMask id="emergency-number-business" class="input-field-advanced" label="Telefonnummer geschäftlich" style="margin-bottom: 20px;"
                                         value="#{childDetailController.emergency.businessPhone}" required="false" mask="+(99) 999 - 9999?999999"/>
                                             
                        </h:panelGrid>
                        
                        <h:panelGrid columns="1" style="margin-bottom: 40px; float: left;" class="grid col-md-5">
                            <p:graphicImage value="/imageParent?id=#{childDetailController.emergency.id}" 
                                            style="max-width:150px; max-height: 150px; margin-bottom: 10px; margin-left: 50px; margin-top: 20px;" id="emergencyPic"/>
                                                
                            <p:fileUpload style="margin-top:10px; margin-left: 50px !important; max-width: 700px;" label="Profilbild" 
                                          uploadLabel="Upload" cancelLabel="Abbrechen" multiple="false" fileLimit="1"
                                          allowTypes="/(\.|\/)(jpe?g)$/" sizeLimit="18000000"
                                          fileUploadListener="#{fileUploadController.handleFileUploadChild}"
                                          invalidFileMessage="Nur JPG ist erlaubt!"
                                          invalidSizeMessage="Error"
                                          fileLimitMessage="Nur ein Bild!"
                                          update="emergencyPic"/>
                        </h:panelGrid>
                        
                        <p:separator style="clear: both; margin-top: 0;"/>
                            
                        <p:commandButton value="Speichern" process="create-emergency-input @this"  action="#{childDetailController.saveNewEmergencyContact()}" 
                                         update="wrongInputEmergency childEmergency" class="button-save" id="success-create-emergency" />
                        <p:commandButton value="Abbrechen" oncomplete="PF('create-emergency').hide()" class="button-abort"/>
                    </p:dialog>
                        
                    <!-- Dialog to select an new emergency contact -->
                    <p:dialog header="Notfallkontakt" widgetVar="select-emergency" closeOnEscape="true" dynamic="true">
                        <p:dataTable value="#{userListController.allParents}" var="parent" selectionMode="single" selection="#{childDetailController.emergency}" rowKey="#{parent.id}"
                                     filteredValue="#{userListController.filteredParents}" widgetVar="emergencySelection" style="max-width: 600px;" class="table"
                                     scrollable="true" scrollHeight="400">    
                                         
                            <f:facet name="header">
                                <p:outputPanel class="header-text" style="text-align: left;">
                                    <h:outputText value="Suche nach Kind: " style="color: white; font-weight: 500; font-size: 16px;"/>
                                    <p:inputText id="globalFilter" onkeyup="PF('emergencySelection').filter()" style="width: 200px; font-size: 14px;" placeholder="Name eingeben"/>
                                </p:outputPanel>
                            </f:facet>
                                
                            <p:column headerText="Bild" width="102">
                                <h:commandButton image="/imageParent?id=#{parent.id}" actionListener="#{imageController.setIdForParent(parent.id)}"  style="max-height: 45px;">
                                    <p:ajax event="click" listener="#{imageController.setIdForParent(parent.id)}" process="@this" update=":form:picShow" oncomplete="PF('pictureBig').show()"/>
                                </h:commandButton>
                            </p:column>
                                
                            <p:column headerText="Vorname" filterBy="#{parent.firstName}" filterMatchMode="contains" filterStyle="display: none;" sortBy="#{parent.firstName}">
                                <h:outputText value="#{parent.firstName}"/>
                            </p:column>    
                                
                            <p:column headerText="Nachname" filterBy="#{parent.lastName}" filterMatchMode="contains" filterStyle="display: none;" sortBy="#{parent.lastName}">
                                <h:outputText value="#{parent.lastName}" />
                            </p:column>   
                                
                            <p:ajax event="rowSelect" process="@this">
                                <f:setPropertyActionListener value="#{parent.id}" target="#{childDetailController.emergencyContactById}"/>
                            </p:ajax>
                        </p:dataTable>
                            
                        <p:commandButton value="Notfallkontakt auswählen" process="@this" action="#{childDetailController.saveNewEmergencyContact()}" 
                                         update="childEmergency" oncomplete="PF('select-emergency').hide();" class="button-save"/>
                        <p:commandButton value="Abbrechen" oncomplete="PF('select-emergency').hide()" class="button-abort"/>
                    </p:dialog>
                        
                    <!-- Dialog to show contact-data, called by 'Kontaktdaten' button -->
                    <p:dialog header="Anmeldungen" widgetVar="contact-dialog" modal="true"  closeOnEscape="true" rendered="#{childDetailController.childSelected}">
                        <h3>Angemeldete Wochentage</h3>
                        <p:panelGrid id="weekdays"  style="max-width: 900px; text-align: center;" columns="7">
                            <p:column>
                                <p:outputLabel value="Montags"/> 
                            </p:column>
                                
                            <p:column>
                                <p:outputLabel value="Dienstag"/> 
                            </p:column>
                                
                            <p:column>
                                <p:outputLabel value="Mittwoch"/> 
                            </p:column>
                                
                            <p:column>
                                <p:outputLabel value="Donnerstag"/> 
                            </p:column>
                                
                            <p:column>
                                <p:outputLabel value="Freitag"/> 
                            </p:column>
                                
                            <p:column>
                                <p:outputLabel value="Samstag"/> 
                            </p:column>
                                
                            <p:column>
                                <p:outputLabel value="Sonntag"/> 
                            </p:column>
                                
                            <p:column>                                        
                                <p:selectBooleanCheckbox value="#{childDetailController.child.attendanceDays[0]}"/>
                            </p:column>
                                
                            <p:column>
                                <p:selectBooleanCheckbox value="#{childDetailController.child.attendanceDays[1]}"/>
                            </p:column>
                                
                            <p:column>
                                <p:selectBooleanCheckbox value="#{childDetailController.child.attendanceDays[2]}"/>
                            </p:column>
                                
                            <p:column>
                                <p:selectBooleanCheckbox value="#{childDetailController.child.attendanceDays[3]}"/>
                            </p:column>
                                
                            <p:column>
                                <p:selectBooleanCheckbox value="#{childDetailController.child.attendanceDays[4]}"/>
                            </p:column>
                                
                            <p:column>
                                <p:selectBooleanCheckbox value="#{childDetailController.child.attendanceDays[5]}"/>
                            </p:column>
                                
                            <p:column>
                                <p:selectBooleanCheckbox value="#{childDetailController.child.attendanceDays[6]}"/>
                            </p:column>                                                
                        </p:panelGrid>
                            
                        <h3>Angemeldete Mittagessen in dieser Woche</h3>
                        <p:dataTable value="#{childDetailController.lunchForCurrentWeek}" var="lunch" style="max-width: 600px;" 
                                     emptyMessage="Keine Essensanmeldungen für diese Woche" class="table"
                                     scrollable="true" scrollHeight="200">
                            
                            <p:column headerText="Menü">
                                <p:outputLabel value="#{lunch.menu}"/>
                            </p:column>
                                
                            <p:column headerText="Preis" width="100px;">
                                <h:outputText value="#{lunch.price}" ><f:convertNumber type="currency" pattern="#0.00€" /></h:outputText>
                            </p:column>
                        </p:dataTable>
                            
                        <p:commandButton value="Speichern" process="weekdays @this" actionListener="#{childDetailController.save()}" update="@this" 
                                         oncomplete="PF('contact-dialog').hide();" style="margin-top: 20px;" class="button-save"/>
                        <p:commandButton value="Abbrechen" oncomplete="PF('contact-dialog').hide()" class="button-abort"/>
                    </p:dialog>
                        
                        
                    <!-- Dialog to show overview sheet of child, called by 'Stammblatt'button -->
                    <p:dialog header="Stammblatt" widgetVar="overview-sheet" dynamic="true" closeOnEscape="true">  
                        <p:scrollPanel style="border: none; height: 500px;" >
                        <p:outputPanel id="sheet-content">
                            <p:dataTable id="overview-child-table" value="" style="margin-top: 20px; max-width: 1000px;">                            
                                <f:facet name="header">  
                                    <h:outputText value="Kind" style="color: white;"/>  
                                </f:facet>
                                    
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Vorname" />
                                    </f:facet>
                                    <h:outputText value="#{childDetailController.child.firstName} "/>
                                </p:column>                                
                                    
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Nachname" />
                                    </f:facet>
                                    <h:outputText value="#{childDetailController.child.lastName} "/>
                                </p:column>
                                    
                                <p:column width="150px;" style="text-align: center;">
                                    <f:facet name="header">
                                        <h:outputText value="Geburtsdatum"/>
                                    </f:facet>
                                    <h:outputText value="#{childDetailController.child.birthdate.time}">
                                        <f:convertDateTime pattern="dd.MM.yyyy" timeZone="CET"/>
                                    </h:outputText>
                                </p:column>     
                                    
                                    
                                <p:column width="150px;" style="text-align: center;">
                                    <f:facet name="header">
                                        <h:outputText value="Anmeldedatum"/>
                                    </f:facet>
                                    <h:outputText value="#{childDetailController.child.registrationDate.time}">
                                        <f:convertDateTime pattern="dd.MM.yyyy" timeZone="CET"/>
                                    </h:outputText>
                                </p:column> 
                                    
                                <p:column width="150px;" style="text-align: center;">
                                    <f:facet name="header">
                                        <h:outputText value="Abmeldedatum"/>
                                    </f:facet>
                                    <h:outputText value="#{childDetailController.child.deregistrationDate.time}">
                                        <f:convertDateTime parent="dd.MM.yyyy" timeZone="CET"/>
                                    </h:outputText>
                                </p:column> 
                            </p:dataTable>
                                
                                
                                
                            <p:dataTable id="overview-note-table" value="" style="margin-top: 20px; max-width: 1000px;">
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Wichtige Information" />
                                    </f:facet>
                                    <h:outputText value="#{childDetailController.child.importantInformation} "/>
                                </p:column>
                                    
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Bemerkungen" />
                                    </f:facet>
                                    <h:outputText value="#{childDetailController.child.remarks} "/>
                                </p:column>
                            </p:dataTable>
                                
                            <p:dataTable id="overview-parent-table" value="#{childDetailController.child.parents}" var="parents" style="margin-top: 20px; max-width: 1000px;">
                                <f:facet name="header">  
                                    <h:outputText value="Eltern" style="color: white"/>  
                                </f:facet> 
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Vorname" />
                                    </f:facet>
                                    <h:outputText value="#{parents.firstName} "/>
                                </p:column>
                                    
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Nachname" />
                                    </f:facet>
                                    <h:outputText value="#{parents.lastName} "/>
                                </p:column>
                                    
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Telefon Privat" />
                                    </f:facet>
                                    <h:outputText value="#{parents.privatePhone} "/>
                                </p:column>
                                    
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Telefon Geschäftlich" />
                                    </f:facet>
                                    <h:outputText value="#{parents.businessPhone} "/>
                                </p:column>
                                    
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="E-Mail Adresse" />
                                    </f:facet>
                                    <h:outputText value="#{parents.email} "/>
                                </p:column>                      
                            </p:dataTable>
                                
                            <p:dataTable id="overview-emergency-table" value="" style="margin-top: 20px; max-width: 1000px;">
                                <f:facet name="header">  
                                    <h:outputText value="Notfallkontakt" style="color: white;"/>   
                                </f:facet> 
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Vorname" />
                                    </f:facet>
                                    <h:outputText value="#{childDetailController.child.emergencyContact.firstName} "/>
                                </p:column>
                                    
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Nachname" />
                                    </f:facet>
                                    <h:outputText value="#{childDetailController.child.emergencyContact.lastName} "/>
                                </p:column>
                                    
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Telefon Privat" />
                                    </f:facet>
                                    <h:outputText value="#{childDetailController.child.emergencyContact.privatePhone} "/>
                                </p:column>
                                    
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Telefon Geschäftlich" />
                                    </f:facet>
                                    <h:outputText value="#{childDetailController.child.emergencyContact.businessPhone} "/>
                                </p:column>
                                    
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="E-Mail Adresse" />
                                    </f:facet>
                                    <h:outputText value="#{childDetailController.child.emergencyContact.email} "/>
                                </p:column>                        
                            </p:dataTable>
                                
                                
                            <p:dataTable id="overview-caregiver-table" value="#{childDetailController.child.caregivers}" var="caregivers" style="margin-top: 20px; max-width: 1000px;">
                                <f:facet name="header">  
                                    <h:outputText value="Bezugspersonen" style="color: white;"/>  
                                </f:facet> 
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Vorname" />
                                    </f:facet>
                                    <h:outputText value="#{caregivers.firstName} "/>
                                </p:column>
                                    
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Nachname" />
                                    </f:facet>
                                    <h:outputText value="#{caregivers.lastName} "/>
                                </p:column>
                                    
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Telefon Privat" />
                                    </f:facet>
                                    <h:outputText value="#{caregivers.privatePhone} "/>
                                </p:column>
                                    
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Telefon Geschäftlich" />
                                    </f:facet>
                                    <h:outputText value="#{caregivers.businessPhone} "/>
                                </p:column>
                                    
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="E-Mail Adresse" />
                                    </f:facet>
                                    <h:outputText value="#{caregivers.email} "/>
                                </p:column>                        
                            </p:dataTable>
                                
                            <p:dataTable id="overview-intern-sibblings-table" value="#{childDetailController.child.internalSiblings}" 
                                         var="siblings-intern" style="margin-top: 20px; max-width: 500px;" class="col-md-6">
                                <f:facet name="header">  
                                    <h:outputText value="Geschwister in der Kinderkrippe" style="color: white;"/>  
                                </f:facet> 
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Vorname" />
                                    </f:facet>
                                    <h:outputText value="#{siblings-intern.firstName} "/>
                                </p:column>                                
                                    
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Nachname" />
                                    </f:facet>
                                    <h:outputText value="#{siblings-intern.lastName} "/>
                                </p:column>
                                    
                                <p:column width="150px;" style="text-align: center;">
                                    <f:facet name="header">
                                        <h:outputText value="Geburtsdatum"/>
                                    </f:facet>
                                    <h:outputText value="#{siblings-intern.birthdate.time}">
                                        <f:convertDateTime pattern="dd.MM.yyyy" timeZone="CET"/>
                                    </h:outputText>
                                </p:column>
                            </p:dataTable>
                                
                            <p:dataTable id="overview-extern-sibblings-table" value="#{childDetailController.child.externalSiblings}" 
                                         var="siblings-extern" style="margin-top: 20px; max-width: 500px;" class="col-md-6">
                                <f:facet name="header">  
                                    <h:outputText value="Geschwister außerhalb der Kinderkrippe" style="color: white;"/>  
                                </f:facet> 
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Vorname" />
                                    </f:facet>
                                    <h:outputText value="#{siblings-extern.firstName} "/>
                                </p:column>                                
                                    
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Nachname" />
                                    </f:facet>
                                    <h:outputText value="#{siblings-extern.lastName} "/>
                                </p:column>
                                    
                                <p:column width="150px;" style="text-align: center;">
                                    <f:facet name="header">
                                        <h:outputText value="Geburtsdatum"/>
                                    </f:facet>
                                    <h:outputText value="#{siblings-extern.birthdate.time}">
                                        <f:convertDateTime pattern="dd.MM.yyyy" timeZone="CET"/>
                                    </h:outputText>
                                </p:column>
                            </p:dataTable>                   
                        </p:outputPanel>
                            </p:scrollPanel>
                            
                        <div style="margin-bottom: 20px;"/>
                        
                        <h:commandLink id="export-pdf">
                            <p:graphicImage value="../../resources/images/pdf-icon.png" width="45" />
                            <p:dataExporter type="pdf" 
                                            target="overview-child-table,overview-note-table,overview-parent-table,overview-emergency-table,overview-caregiver-table" 
                                            fileName="stammblatt" encoding="UTF-8"/>
                        </h:commandLink>
                        <h:commandLink id="print">
                            <p:graphicImage value="../../resources/images/print-icon.png" width="45" style="margin-left: 20px; clear: both"/>
                            <p:printer target="sheet-content" />
                        </h:commandLink>
                            
                        <p:commandButton value="Schließen" oncomplete="PF('overview-sheet').hide()" style="clear: both; width: 25%; margin-left: 20px;" class="button-create"/>
                        
                    </p:dialog>
                        
                        
                    <!-- log for child deregistration, called by 'Kind abmelden' button -->
                    <p:dialog header="Kind abmelden" widgetVar="child-deregistration" modal="true" closeOnEscape="true">
                        <p:dataTable id="deregister-child-table" value="" style="margin-top: 20px; max-width: 1000px;" class="table">                          
                            <f:facet name="header">  
                                <h:outputText value="Kind"/>  
                            </f:facet>
                                
                            <p:column exportable="true" style="display:none;">
                                <f:facet name="header>">
                                    <h:outputText value="Kind"/>
                                </f:facet>
                            </p:column>
                                
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Vorname" />
                                </f:facet>
                                <h:outputText value="#{childDetailController.child.firstName} "/>
                            </p:column>                                
                                
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Nachname" />
                                </f:facet>
                                <h:outputText value="#{childDetailController.child.lastName} "/>
                            </p:column>
                                
                            <p:column width="150px;" style="text-align: center;">
                                <f:facet name="header">
                                    <h:outputText value="Geburtsdatum"/>
                                </f:facet>
                                <h:outputText value="#{childDetailController.child.birthdate.time}">
                                    <f:convertDateTime pattern="dd.MM.yyyy" timeZone="CET"/>
                                </h:outputText>
                            </p:column>   
                                
                            <p:column width="150px;" style="text-align: center;">
                                <f:facet name="header">
                                    <h:outputText value="Anmeldedatum"/>
                                </f:facet>
                                <h:outputText value="#{childDetailController.registrationDate}">
                                    <f:convertDateTime pattern="dd.MM.yyyy" timeStyle="CET"/>
                                </h:outputText>
                            </p:column> 
                                
                            <p:column width="150px;" style="text-align: center;">
                                <f:facet name="header">
                                    <h:outputText value="Abmeldedatum"/>
                                </f:facet>
                                <h:outputText value="#{childDetailController.deregistrationDate}">
                                    <f:convertDateTime pattern="dd.MM.yyyy" timeStyle="CET"/>
                                </h:outputText>
                            </p:column>
                                
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Eltern" />
                                </f:facet>
                                <p:dataTable id="deregister-parent-table" value="#{childDetailController.child.parents}" var="parent">
                                    <p:column>
                                        <h:outputText value="#{parent.firstName} #{parent.lastName}"/>
                                    </p:column>
                                        
                                </p:dataTable>
                            </p:column>                                
                        </p:dataTable>
                            
                        <p:commandButton id="deregistrat" value="Abmelden" actionListener="#{childDetailController.disableChild()}"  process="@this"
                                         class="button-save">
                            <p:confirm header="Kind wirklich Abmelden?" message="Sind Sie sicher, dass Sie #{childDetailController.child.firstName} 
                                       #{childDetailController.child.lastName} abmelden möchten?"/>
                        </p:commandButton>         
                        
                        <p:commandButton value="Abbrechen" oncomplete="PF('child-deregistration').hide()" class="button-abort"/>
                    </p:dialog>
                        
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton value="Ja" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                        <p:commandButton value="Nein" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                    </p:confirmDialog>
                        
                    <p:dialog header="Bild" widgetVar="pictureBig" id="picShow" closeOnEscape="true" position="center center" width="1000px;" height="1000px;" onShow="PF('pictureBig').initPosition()">         
                        <p:graphicImage value="/imageChild?id=#{imageController.saveId}" style="max-height: 1000px; max-width: 1000px;" rendered="#{imageController.imageFromChild}"/>
                        <p:graphicImage value="/imageParent?id=#{imageController.saveId}" style="max-height: 1000px; max-width: 1000px;" rendered="#{imageController.imageFromParent}"/>
                        <p:graphicImage value="/imageCaregiver?id=#{imageController.saveId}" style="max-height: 1000px; max-width: 1000px;" rendered="#{imageController.imageFromCaregiver}"/>
                    </p:dialog>                
                        
                        
                </h:form>
                    
            </h:body>
        </div>      
    </ui:define>
</ui:composition>
