<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:define name ="content">
        <h:head/>
        <div class="main-menu">
            <h:outputStylesheet name="css/style-employee-main.css"/>
        </div>
        <h:form id="form">            
            <div class="page-content container">
                
                <div class="heading">
                    <h1 class="heading-text">KIND ANMELDEN</h1>
                </div>
                
                <div class="legal-guard">
                    <h4 class="legal-guard-heading">ERZIEHUNGSBERECHTIGTER</h4>
                    <p:selectOneButton value="#{childRegistrationView.shouldAddParent}" id="parent-pick" disabled="#{childCreateController.parentSet}" class="select-one-button">
                        <f:selectItem itemLabel="Erziehungsberechtigten hinzufügen" itemValue="#{true}"/>
                        <f:selectItem itemLabel="Erziehungsberechtigten auswählen" itemValue="#{false}"/>
                        <p:ajax event="change" process="@this" listener="#{userDetailController.createUser()}" 
                                oncomplete="#{fileUploadController.setId(userDetailController.user.id)}" update="form"/>
                    </p:selectOneButton>    
                    
                    <p:dataTable id="parent-table" value="#{userListController.allParents}" var="parent" widgetVar="parentTable" style="margin-top: 20px;" 
                                 emptyMessage="Keine Kinder gefunden" filteredValue="#{userListController.filteredParents}" class="table"
                                 scrollable="true" scrollHeight="200" selectionMode="single"  rendered="#{!childRegistrationView.shouldAddParent}"
                                 selection="#{userDetailController.user}"  rowKey="#{parent.id}" disabledSelection="#{childCreateController.parentSet}" 
                                 disabledTextSelection="#{childCreateController.parentSet}">
                        
                        <f:facet name="header">
                            <p:outputPanel class="header-text" style="text-align: left;">
                                <h:outputText value="Suche nach Eltern: " style="color: white; font-size: 16px;"/>
                                <p:inputText id="globalFilter" onkeyup="PF('parentTable').filter()" style="width: 200px; font-size: 14px;" 
                                             placeholder="Name eingeben"/>
                            </p:outputPanel>
                        </f:facet>
                        
                        <p:column headerText="Bild" width="102" style="text-align: center;" >
                            <h:commandButton image="/imageParent?id=#{parent.id}" actionListener="#{imageController.setIdForParent(parent.id)}"  
                                             style="max-height: 45px;">
                                <p:ajax event="click" listener="#{imageController.setIdForParent(parent.id)}" process="@this" update="form" 
                                        oncomplete="PF('pictureBig').show()"/>
                            </h:commandButton>
                        </p:column>
                        
                        <p:column sortBy="#{parent.firstName}" filterBy="#{parent.firstName}" filterMatchMode="contains" filterStyle="display: none;">
                            <f:facet name="header">
                                <h:outputText value="Vorname" />
                            </f:facet>
                            <h:outputText value="#{parent.firstName}"/>
                        </p:column>
                        
                        <p:column sortBy="#{parent.lastName}" filterBy="#{parent.lastName}" filterMatchMode="contains" filterStyle="display: none;">
                            <f:facet name="header">
                                <h:outputText value="Nachname" />
                            </f:facet>
                            <h:outputText value="#{parent.lastName}"/>
                        </p:column>                            
                        
                        <p:column filterBy="#{parent.email}" filterMatchMode="contains" filterStyle="display: none;">
                            <f:facet name="header">
                                <h:outputText value="Email" />
                            </f:facet>
                            <h:outputText  value="#{parent.email}"/>
                        </p:column>                                    
                        
                    </p:dataTable>
                    
                    <p:commandButton value="Elternteil hinzufügen" actionListener="#{fileUploadController.setId(childCreateController.child.id)}" 
                                     action="#{childCreateController.buttonPress()}" disabled="#{childCreateController.parentSet}" class="button-save"
                                     update="form" rendered="#{!childRegistrationView.shouldAddParent}" style="float: left; margin-top: 10px;">
                        <f:setPropertyActionListener value="#{userDetailController.user.id}" target="#{childCreateController.parentId}"/>
                    </p:commandButton>
                    
                    <p:messages id="wrongInputCreate"/>
                    
                    
                    <h:panelGrid id="parent-creation-req" rendered="#{childRegistrationView.shouldAddParent}" columns="1" 
                                 style="float:left; margin-top: 20px; margin-right: 50px;" class="col-md-5 grid">
                        
                        <p:outputLabel for="guard-firstname" value="Vorname:" style="margin-top: 20px;"/>
                        <p:inputText id="guard-firstname" class="input-field" value="#{userDetailController.user.firstName}" 
                                     label="Vorname" required="true" requiredMessage="Vorname fehlt!" 
                                     disabled="#{userDetailController.userRegistrated}" >
                            <f:validateLength minimum="2"/>
                        </p:inputText>
                        
                        <p:outputLabel for="guard-lastname" value="Nachname:" style="margin-top: 20px;"/>
                        <p:inputText id="guard-lastname" class="input-field" value="#{userDetailController.user.lastName}" 
                                     label="Nachname" required="true" requiredMessage="Nachname fehlt!" 
                                     disabled="#{userDetailController.userRegistrated}" >
                            <f:validateLength minimum="2"/>
                        </p:inputText>
                        
                        <p:outputLabel for="guard-mail" value="E-Mail Adresse:" style="margin-top: 20px;"/> 
                        <p:inputText id="guard-mail" class="input-field" label="E-Mail Adresse" required="true" 
                                     value="#{userDetailController.user.email}" requiredMessage="E-Mail Adresse fehlt!" 
                                     disabled="#{userDetailController.userRegistrated}" validatorMessage="Keine gültige E-Mail Adresse!"
                                     >
                            <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />                                
                        </p:inputText>
                    </h:panelGrid>
                    
                    <h:panelGrid id="parent-creation-not" rendered="#{childRegistrationView.shouldAddParent}" columns="1" 
                                 style="margin-top: 20px;" class="col-md-5 grid">
                        <p:outputLabel for="guard-number-private" value="Telefon privat:" style="margin-top: 20px;"/>
                        <p:inputMask id="guard-number-private" class="input-field" label="Telefonnummer privat" 
                                     value="#{userDetailController.user.privatePhone}" required="true" style="width: 60%;"
                                     requiredMessage="Telefonnumer privat fehlt!"
                                     disabled="#{userDetailController.userRegistrated}" mask="+(99) 999 - 9999?9999999">
                            <f:validateLength minimum="5"/>
                        </p:inputMask>
                        
                        <p:outputLabel for="guard-number-business" value="Telefon geschäftlich: " style="margin-top: 20px;"/>
                        <p:inputMask id="guard-number-business" class="input-field" label="Telefonnummer geschäftlich" 
                                     value="#{userDetailController.user.businessPhone}" required="false" style="width: 60%;"
                                     disabled="#{userDetailController.userRegistrated}" mask="+(99) 999 - 9999?999999">                            
                        </p:inputMask>                              
                        
                    </h:panelGrid>
                    
                    <!-- Picture upload for created parent --> 
                    <p:graphicImage value="/imageParent?id=#{userDetailController.user.id}" style="width: 100px; clear: both; float: left; margin-top: 20px;" 
                                    id="currentPic" rendered="#{childRegistrationView.shouldAddParent}"/>
                    
                    <p:fileUpload style="margin-top:20px; max-width: 400px; clear: both;" label="Bild auswählen" uploadLabel="Hochladen" cancelLabel="Abbrechen"  
                                  multiple="false" fileLimit="1" rendered="#{childRegistrationView.shouldAddParent}"
                                  allowTypes="/(\.|\/)(jpe?g)$/" sizeLimit="18000000"
                                  fileUploadListener="#{fileUploadController.handleFileUploadParent}"
                                  invalidFileMessage="Nur JPG ist erlaubt!"
                                  invalidSizeMessage="Error"
                                  fileLimitMessage="Nur ein Bild!" 
                                  disabled="#{childCreateController.parentSet}"
                                  update="currentPic"/>                                                   
                    
                    <p:commandButton value="Elternteil erstellen" styleClass="create-parent" process="parent-creation-req parent-creation-not @this" class="button-save"
                                     actionListener="#{userDetailController.doSaveParent()}" action="#{fileUploadController.setId(childCreateController.child.id)}" 
                                     update="wrongInputCreate form" disabled="#{childCreateController.parentSet}" rendered="#{childRegistrationView.shouldAddParent}" >
                        <p:confirm header="Elternteil erstellen" message="Elternteil erstellen?" />
                        <f:setPropertyActionListener value="#{userDetailController.user.id}" target="#{childCreateController.parentId}"/>
                    </p:commandButton>
                    
                    <p:commandButton value="Abbrechen" class="button-abort" action="#{childCreateController.redirect()}" process="@this" 
                                     style="margin-top: 10px;"/>
                </div>
                
                
                <!-- Input fields for creating a new child -->
                <div class="child" style="margin-top: 50px;">
                    <h1 class="child-heading">KIND</h1>
                    <p:messages id="wrongInput"/>
                    
                    <div class="col-md-5 input-windows-left">                            
                        
                        <h:panelGrid id="create-input-req" columns="1" style="width: 100%;" class="grid col-md-5">
                            <p:outputLabel for="gender-select" value="Geschlecht:  *" style="margin-bottom: 0;"/>
                            <p:selectOneMenu id="gender-select" value="#{childCreateController.gender}" class="input-field" 
                                             disabled="#{!childCreateController.parentSet}" style="margin-top: 0;">
                                <f:selectItem itemLabel="Geschlecht*" itemValue="" noSelectionOption="true" itemDisabled="true"/>      
                                <f:selectItem itemLabel="Männlich" itemValue="MALE"  />
                                <f:selectItem itemLabel="Weiblich" itemValue="FEMALE"/>
                                <f:selectItem itemLabel="Keine Angabe" itemValue="OTHER"/>
                            </p:selectOneMenu>
                            
                            <p:outputLabel for="child-firstname" value="Vorname: " style="margin-top: 20px;"/>
                            <p:inputText id="child-firstname" value="#{childCreateController.firstName}" class="input-field" label="Vorname"
                                         required="true" disabled="#{!childCreateController.parentSet}" style="margin-top: 0px; border-radius: 0px;"
                                         requiredMessage="Vorname fehlt!"/>
                            
                            <p:outputLabel for="child-lastname" value="Nachname: " style="margin-top: 20px;"/>
                            <p:inputText id="child-lastname" class="input-field" value="#{childCreateController.lastName}" label="Nachname" 
                                         required="true" disabled="#{!childCreateController.parentSet}" 
                                         requiredMessage="Nachname fehlt!" />
                            
                            <p:outputLabel for="child-birthdate" value="Geburtstag: " style="margin-top: 20px;"/>
                            <p:calendar id="child-birthdate" value="#{childCreateController.birthdate}" pattern="dd.MM.yyyy" mask="true" 
                                        navigator="true" yearRange="c-10:c+0" required="true" class="input-field-advanced" timeZone="CET" locale="de"
                                        maxdate="#{taskDetailController.currentDay}" disabled="#{!childCreateController.parentSet}" 
                                        requiredMessage="Geburtsdatum fehlt!"/>        
                            
                            
                            <h:panelGrid id="dates" class="grid" columns="1">
                            <p:outputLabel for="child-registration-date" value="Registrierungsdatum: " style="margin-top: 20px;"/>
                            <p:calendar id="child-registration-date" value="#{childCreateController.registrationDate}" class="input-field-advanced" locale="de"
                                        pattern="dd.MM.yyyy" timeZone="CET" required="true" navigator="true" yearRange="c-0:c+10" mask="true" 
                                        mindate="#{taskDetailController.currentDay}"
                                        disabled="#{!childCreateController.parentSet}" requiredMessage="Registrierungsdatum fehlt!">
                                <p:ajax event="dateSelect" process="@this dates" update=":form:child-deregistration-date"/>
                                <p:ajax event="blur" process="@this dates" update=":form:child-deregistration-date"/>
                            </p:calendar>
                            </h:panelGrid>
                            
                            
                            <p:outputLabel for="child-emergency-contact" value="Notfallkontakt: " style="margin-top: 20px;"/>
                            <p:column>
                                <p:inputText id="child-emergency-contact" value="#{childCreateController.emergencyPersonName}" class="input-field" 
                                             readonly="true" disabled="#{!childCreateController.parentSet}" style="width: calc(100% - 80px);"/>
                                
                                <p:commandButton id="createButton" icon="fa fa-plus" actionListener="#{childCreateController.createEmergencyPerson()}" 
                                                 action="#{fileUploadController.setId(childCreateController.emergencyPerson.id)}" process="@this" 
                                                 oncomplete="PF('create-emergency-person').show()" disabled="#{!childCreateController.parentSet}" class="button-create"/>
                                <p:commandButton id="selectButton" icon="fa fa-share" oncomplete="PF('select-emergency').show()" disabled="#{!childCreateController.parentSet}"
                                                 class="button-redirect"/>
                                <p:tooltip id="toolTipCreate" for="createButton" value="Notfallkontakt erstellen" position="top"/>
                                <p:tooltip id="toolTipSelect" for="selectButton" value="Notfallkontakt auswählen" position="top"/>                                                                                               
                            </p:column>
                        </h:panelGrid> 
                        
                        <p:outputLabel for="caregiver-display" value="Bezugspersonen:" style="margin-top: 20px; margin-bottom: 0;"/>                    
                        <p:dataTable value="#{childCreateController.caregivers}" var="caregiver" class="table" 
                                     emptyMessage="Keine Bezugsperson zugewiesen" id="caregiver-display" style="margin-top: 0px; float: left; width: calc(100% - 80px);">
                            
                            <p:column>
                                <h:outputText value="#{caregiver.firstName} #{caregiver.lastName}"/>                             
                            </p:column>
                        </p:dataTable>
                        
                        
                        <p:commandButton id="createButton3" class="button-create" style="float:left; margin-top: 10px;" icon="fa fa-plus" 
                                         actionListener="#{childCreateController.createCaregiver()}" action="#{fileUploadController.setId(childCreateController.caregiver.id)}"                                  
                                         process="@this" oncomplete="PF('create-caregiver').show()" disabled="#{!childCreateController.parentSet}"/>
                        <p:commandButton id="selectButton3" class="button-redirect" style="float: left; margin-top: 10px;" icon="fa fa-share" 
                                         oncomplete="PF('select-caregiver').show()" 
                                         disabled="#{!childCreateController.parentSet}"/>
                        <p:tooltip id="toolTipSelect3" for="selectButton3" value="Bezugsperson auswählen" position="top"/>                               
                        <p:tooltip id="toolTipCreate3" for="createButton3" value="Bezugsperson erstellen" position="top"/>                        
                        
                        
                    </div>
                    
                    <div class="col-md-5 input-wondows-right" >
                        <h:panelGrid id="create-input-not-req" columns="1" class="grid">
                            <p:outputLabel for="child-deregistration-date" value="Abmeldedatum: "/>
                            <p:calendar id="child-deregistration-date" value="#{childCreateController.deregistrationDate}" class="input-field-advanced" 
                                        pattern="dd.MM.yyyy" required="false" navigator="true" yearRange="c-0:c+10"  mask="true" 
                                        mindate="#{childCreateController.registrationDate}" locale="de"
                                        disabled="#{!childCreateController.parentSet or empty childCreateController.registrationDate}">
                                <p:ajax event="dateSelect" process="@this"/>
                                <p:ajax event="keyup" process="@this"/>
                            </p:calendar>
                            
                            <p:outputLabel for="child-important-info" value="Wichtige Informationen: " style="margin-top: 20px; border-radius: 0px;"/>
                            <p:inputTextarea id="child-important-info" class="input-field" value="#{childCreateController.child.importantInformation}" 
                                             label="Wichtige Informationen" disabled="#{!childCreateController.parentSet}" style="width: 100% !important;"/>                               
                            
                            <p:outputLabel for="child-notes" value="Anmerkungen: " style="margin-top: 20px; border-radius: 0px;"/>
                            <p:inputTextarea id="child-notes" class="input-field" value="#{childCreateController.child.remarks}" label="Anmerkungen" 
                                             disabled="#{!childCreateController.parentSet}" style="border-right: 0;"/>
                        </h:panelGrid>
                        
                        <div class="row" style="width: 100%;"> 
                            
                            <p:outputLabel for="externals" value="Geschwister ausserhalb der Kinderkrippe: " style="margin-top: 20px; margin-left: 12px;"/>
                            <p:dataTable value="#{childCreateController.externals}" var="external" class="table" id="externals"
                                         emptyMessage="Externe Geschwister" style="margin-top: 0px; margin-left: 15px; width: calc(100% - 50px); float: left;">
                                
                                <p:column>
                                    <h:outputText value="#{external.firstName} #{external.lastName}"/>
                                </p:column>
                                
                                <p:column width="100px;" style="text-align: center;">
                                    <h:outputText value="#{external.birthdate.time}">
                                        <f:convertDateTime pattern="dd.MM.yyyy" locale="de"/>
                                    </h:outputText>                                                
                                </p:column>
                            </p:dataTable>      
                            
                            <p:commandButton id="createButton2" class="button-create" icon="fa fa-plus" action="#{childCreateController.createSibling()}"
                                             process="@this" oncomplete="PF('create-sibling').show()" disabled="#{!childCreateController.parentSet}" 
                                             style="float: left; margin-top: 10px;"/>
                            <p:tooltip id="toolTipCreate2" for="createButton2" value="Geschwister erstellen" position="top" />
                            
                            
                            <p:outputLabel for="internals" value="Geschwister in der Kinderkirppe: " style="margin-left: 12px; margin-top: 20px;"/>
                            <p:dataTable value="#{childCreateController.internals}" var="internal" class="table" 
                                         style="margin-top: 0px; margin-left: 15px; width: calc(100% - 50px); float: left;"
                                         emptyMessage="Interne Geschwister" id="internals">
                                
                                <p:column>
                                    <h:outputText value="#{internal.firstName} #{internal.lastName}"/>
                                </p:column>
                                
                                <p:column width="100px;" style="text-align: center;">
                                    <h:outputText value="#{internal.birthdate.time}">
                                        <f:convertDateTime pattern="dd.MM.yyyy" locale="de" timeZone="CET"/>
                                    </h:outputText>                                                
                                </p:column>                                            
                            </p:dataTable>
                            <p:commandButton id="selectButton2" class="button-redirect" icon="fa fa-share" oncomplete="PF('select-sibling').show()" 
                                             disabled="#{!childCreateController.parentSet}" style="float: left; margin-top: 10px;"/>
                            <p:tooltip id="toolTipSelect2" for="selectButton2" value="Geschwister auswählen" position="top"/>                                                                                          
                        </div>         
                        <p:graphicImage value="/imageChild?id=#{childCreateController.child.id}" id="childPic" style="width:100px; 
                                        margin-top: 20px; margin-bottom: 10px; float: left;" />
                        <p:fileUpload style="margin-top:30px; margin-left: 110px;" label="Bild auswählen" uploadLabel="Hochladen" cancelLabel="Abbrechen" 
                                      multiple="false" fileLimit="1"
                                      allowTypes="/(\.|\/)(jpe?g)$/" sizeLimit="18000000"
                                      fileUploadListener="#{fileUploadController.handleFileUploadChild}"
                                      invalidFileMessage="Nur JPG ist erlaubt!"
                                      invalidSizeMessage="Error"
                                      fileLimitMessage="Nur ein Bild!"
                                      update="childPic"
                                      disabled="#{!childCreateController.parentSet}"/>                 
                    </div>                                                            
                </div>
                
                <p:outputLabel for="weekdays" value="Anmeldung für Wochentage: " style="clear: both; margin-right: 20px;"/>
                <p:panelGrid id="weekdays"  style="max-width: 900px; text-align: center;" columns="7">
                    <p:column>
                        <p:outputLabel value="Montags"/> 
                    </p:column>
                    
                    <p:column>
                        <p:outputLabel value="Dienstag"/> 
                    </p:column>
                    
                    <p:column>
                        <p:outputLabel value="Mittwoch"/> 
                    </p:column>
                    
                    <p:column>
                        <p:outputLabel value="Donnerstag"/> 
                    </p:column>
                    
                    <p:column>
                        <p:outputLabel value="Freitag"/> 
                    </p:column>
                    
                    <p:column>
                        <p:outputLabel value="Samstag"/> 
                    </p:column>
                    
                    <p:column>
                        <p:outputLabel value="Sonntag"/> 
                    </p:column>
                    
                    <p:column>                                        
                        <p:selectBooleanCheckbox value="#{childCreateController.child.attendanceDays[0]}"/>
                    </p:column>
                    
                    <p:column>
                        <p:selectBooleanCheckbox value="#{childCreateController.child.attendanceDays[1]}"/>
                    </p:column>
                    
                    <p:column>
                        <p:selectBooleanCheckbox value="#{childCreateController.child.attendanceDays[2]}"/>
                    </p:column>
                    
                    <p:column>
                        <p:selectBooleanCheckbox value="#{childCreateController.child.attendanceDays[3]}"/>
                    </p:column>
                    
                    <p:column>
                        <p:selectBooleanCheckbox value="#{childCreateController.child.attendanceDays[4]}"/>
                    </p:column>
                    
                    <p:column>
                        <p:selectBooleanCheckbox value="#{childCreateController.child.attendanceDays[5]}"/>
                    </p:column>
                    
                    <p:column>
                        <p:selectBooleanCheckbox value="#{childCreateController.child.attendanceDays[6]}"/>
                    </p:column>                                                
                </p:panelGrid>
                
                <div class="row" style="margin-bottom: 20px; margin-top: 20px;">
                    <div class="col-md-6">
                        <p:commandButton value="Speichern" process="create-input-req create-input-not-req weekdays @this" actionListener="#{childCreateController.saveChild()}" 
                                         update="wrongInput" class="button-save">
                            <p:confirm header="Kind erstellen" message="Kind registrieren?" />
                        </p:commandButton>
                        <p:commandButton value="Abbrechen" action="#{childCreateController.redirect()}" process="@this" class="button-abort"/>
                        
                    </div>                    
                </div>
                
                <p:dialog widgetVar="create-caregiver" modal="true" closeOnEscape="true" dynamic="true" header="Bezugsperson erstellen">    
                    <p:ajax event="close" oncomplete="#{fileUploadController.setId(childCreateController.child.id)}"/>
                    <p:messages id="wrongInputCaregiverCreate"/>
                    <h:panelGrid id="create-caregiver-input" columns="1" class="grid col-md-5" style="margin-bottom: 20px;">
                        
                        <p:outputLabel for="caregiver-firstname" value="Vorname: "/>
                        <p:inputText id="caregiver-firstname" class="input-field" value="#{childCreateController.caregiver.firstName}" label="Vorname*" 
                                     required="true" rendered="#{childCreateController.caregiverSet}" requiredMessage="Vorname fehlt!" style="width: 100%; border-radius: 0px;"/>
                        
                        <p:outputLabel for="caregiver-lastname" value="Nachname: " style="margin-top: 20px;"/>
                        <p:inputText id="caregiver-lastname" class="input-field" value="#{childCreateController.caregiver.lastName}" label="Nachname*" 
                                     required="true" rendered="#{childCreateController.caregiverSet}"
                                     requiredMessage="Nachname fehlt!" />                            
                        
                        <p:outputLabel for="caregiver-mail" value="E-Mail Adresse: " style="margin-top: 20px;"/>
                        <p:inputText id="caregiver-mail" class="input-field" label="E-Mail Adresse" required="true" 
                                     value="#{childCreateController.caregiver.email}" requiredMessage="E-Mail Adresse fehlt!"
                                     rendered="#{childCreateController.caregiverSet}" validatorMessage="Ungültige E-Mail Adresse">
                            <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />                            
                        </p:inputText>
                        
                        <p:outputLabel for="caregiver-number-private" value="Telefonnummer privat: " style="margin-top: 20px;"/>
                        <p:inputMask id="caregiver-number-private" class="input-field" label="Telefonnummer privat" 
                                     value="#{childCreateController.caregiver.privatePhone}" required="true" 
                                     rendered="#{childCreateController.caregiverSet}" 
                                     mask="+(99) 999-9999?999999" requiredMessage="Telefonnummer privat fehlt!"/>                        
                        
                        <p:outputLabel for="caregiver-number-business" value="Telefonnumer geschäftlich" style="margin-top: 20px;"/>
                        <p:inputMask id="caregiver-number-business" class="input-field" label="Telefonnummer geschäftlich"  
                                     value="#{childCreateController.caregiver.businessPhone}" required="false" 
                                     rendered="#{childCreateController.caregiverSet}" mask="+(99) 999-9999?999999"/>      
                        
                    </h:panelGrid>     
                    
                    <h:panelGrid id="create-caregiver-picture" class="gird col-md-5" style="margin-left: 40px; ">
                        <p:graphicImage value="/imageCaregiver?id=#{childCreateController.caregiver.getId()}" id="caregiver-preview"
                                        style="max-width:150px; max-height: 150px; margin-bottom: 10px; margin-left: 0px; margin-top: 20px;" />
                        
                        <p:fileUpload style="margin-top:10px; margin-bottom: 60px;" label="Bild auswählen" 
                                      uploadLabel="Hochladen" cancelLabel="Abbrechen" 
                                      multiple="false" fileLimit="1"
                                      allowTypes="/(\.|\/)(jpe?g)$/" sizeLimit="18000000"
                                      fileUploadListener="#{fileUploadController.handleFileUploadCaregiver}"
                                      invalidFileMessage="Nur JPG ist erlaubt!"
                                      invalidSizeMessage="Error"
                                      fileLimitMessage="Nur ein Bild!"
                                      update="caregiver-preview"/>
                        
                    </h:panelGrid>
                    <p:separator style="clear: both; margin-top: 20px; margin-bottom: 20px;"/>
                   
                    <p:commandButton value="Bezugsperson erstellen" id="caregiver-create-button" process="@this create-caregiver-input" 
                                     actionListener="#{childCreateController.saveCaregiver()}" action="#{fileUploadController.setId(childCreateController.child.id)}"
                                     update="wrongInputCaregiverCreate :form:caregiver-display" 
                                     class="button-save" style="float: left;">
                        <p:confirm header="Bezugsperson erstellen" message="Bezugsperson erstellen?" />
                    </p:commandButton>
                    <p:commandButton value="Abbrechen" oncomplete="PF('create-caregiver').hide();" class="button-abort"/>
                    
                </p:dialog>
                
                <p:dialog widgetVar="select-caregiver" modal="true" closeOnEscape="true"  dynamic="true" header="Bezugsperson auswählen">
                    <p:dataTable id="caregiver-table" value="#{caregiverListController.caregivers}" var="caregiver"  
                                 emptyMessage="Keine Eltern gefunden" class="table" widgetVar="caregiverSelection" 
                                 filteredValue="#{childCreateController.filteredCaregiver}" style="margin-top: 20px; max-width: 600px; margin-bottom: 20px;"
                                 scrollable="true" scrollHeight="300" selectionMode="single"  rendered="#{!childRegistrationView.shouldAddParent}"
                                 selection="#{childCreateController.caregiver}"  rowKey="#{caregiver.id}">                                                     
                        
                        <f:facet name="header">
                            <p:outputPanel class="header-text" style="text-align: left;">
                                <h:outputText value="Suche nach Bezugspersonen " style="color: white; font-weight: 300; font-size: 16px;"/>
                                <p:inputText id="caregiverFilter" onkeyup="PF('caregiverSelection').filter()" style="width: 200px; font-size: 14px;" 
                                             placeholder="Name eingeben"/>
                            </p:outputPanel>
                        </f:facet>
                        
                        <p:column headerText="Bild" width="102" style="text-align: center;" >
                            <h:commandButton image="/imageCaregiver?id=#{caregiver.id}" actionListener="#{imageController.setIdForCaregiver(caregiver.id)}"  
                                             style="max-height: 45px;">
                                <p:ajax event="click" listener="#{imageController.setIdForCaregiver(parent.id)}" process="@this" update=":form:picShow" 
                                        oncomplete="PF('pictureBig').show()"/>
                            </h:commandButton>
                        </p:column>
                        
                        <p:column sortBy="#{caregiver.firstName}" filterBy="#{caregiver.firstName}" filterMatchMode="contains" filterStyle="display: none;">
                            <f:facet name="header">
                                <h:outputText value="Vorname" />
                            </f:facet>
                            <h:outputText value="#{caregiver.firstName}"/>
                        </p:column>
                        
                        <p:column sortBy="#{caregiver.lastName}" filterBy="#{caregiver.lastName}" filterMatchMode="contains" filterStyle="display: none;">
                            <f:facet name="header">
                                <h:outputText value="Nachname" />
                            </f:facet>
                            <h:outputText value="#{caregiver.lastName}"/>
                        </p:column>
                        
                        <p:column sortBy="#{caregiver.email}" filterBy="#{caregiver.email}" filterMatchMode="contains" filterStyle="display: none;">
                            <f:facet name="header">
                                <h:outputText value="E-Mail Adresse" />
                            </f:facet>
                            <h:outputText value="#{caregiver.email}"/>
                        </p:column> 
                        
                        <p:ajax event="rowSelect" process="@this"/>
                    </p:dataTable>
                    
                    <p:commandButton value="Bezugsperson auswählen" id="caregiver-load-button" actionListener="#{childCreateController.addCaregiver()}" 
                                     action="#{fileUploadController.setId(childCreateController.child.id)}"
                                     process="@this" update=":form:caregiver-display" oncomplete="PF('select-caregiver').hide()" class="button-save"/>
                    <p:commandButton value="Abbrechen" oncomplete="PF('select-caregiver').hide()" class="button-abort"/>
                </p:dialog>
                
                <p:dialog widgetVar="create-emergency-person" id="dlg" modal="true" closeOnEscape="true" dynamic="true" header="Notfallkontakt erstellen"> 
                    <p:ajax event="close" oncomplete="#{fileUploadController.setId(childCreateController.child.id)}"/>
                    <p:messages id="wrongInputEmergencyCreate"/>
                    
                    <h:panelGrid id="create-emergency-input" columns="1" class="grid col-md-5" style="margin-bottom: 20px;">
                        <p:outputLabel for="emergency-firstname" value="Vorname: "/>
                        <p:inputText id="emergency-firstname" class="input-field" value="#{childCreateController.emergencyPerson.firstName}"
                                     label="Vorname*" required="true" rendered="#{childCreateController.emergencyPersonSet}"
                                     requiredMessage="Vorname fehlt!"/>
                        
                        <p:outputLabel for="emergency-lastname" value="Nachname: " style="margin-top: 20px;"/>
                        <p:inputText id="emergency-lastname" class="input-field" value="#{childCreateController.emergencyPerson.lastName}"
                                     label="Nachname*" required="true" rendered="#{childCreateController.emergencyPersonSet}"
                                     requiredMessage="Nachname fehlt!"/>
                        
                        <p:outputLabel for="emergency-mail" value="E-Mail Adresse: " style="margin-top: 20px;"/>
                        <p:inputText id="emergency-mail" class="input-field" label="E-Mail Adresse" required="true" 
                                     value="#{childCreateController.emergencyPerson.email}" requiredMessage="E-Mail Adresse fehlt!"
                                     validatorMessage="E-Mail Adresse ungültig!" rendered="#{childCreateController.emergencyPersonSet}">
                            <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />                            
                        </p:inputText>
                        
                        <p:outputLabel for="emergency-number-private" value="Telefonnumer privat: " style="margin-top: 20px;"/>
                        <p:inputMask id="emergency-number-private" class="input-field" label="Telefonnummer privat" 
                                     value="#{childCreateController.emergencyPerson.privatePhone}" 
                                     required="true" rendered="#{childCreateController.emergencyPersonSet}"
                                     mask="+(99) 999 - 9999?999999" requiredMessage="Telefonnummer privat fehlt!"/>
                        
                        <p:outputLabel for="emergency-number-business" value="Telefonnumer geschäftlich: " style="margin-top: 20px;"/>
                        <p:inputMask id="emergency-number-business" class="input-field" label="Telefonnummer geschäftlich" 
                                     value="#{childCreateController.emergencyPerson.businessPhone}" 
                                     required="false" rendered="#{childCreateController.emergencyPersonSet}"
                                     mask="+(99) 999 - 9999?999999"/>
                        
                    </h:panelGrid>
                    
                    <h:panelGrid id="create-emergency-picture" class="gird col-md-5" style="margin-left: 40px;">
                        <p:graphicImage value="/imageParent?id=#{childCreateController.emergencyPerson.id}" id="emergency-preview"
                                        style="max-width:150px; max-height: 150px; margin-bottom: 10px; margin-left: 0px; margin-top: 20px;" />
                        
                        <p:fileUpload style="margin-top:10px; max-width: 300px; margin-bottom: 20px;" label="Bild auswählen" uploadLabel="Hochladen" cancelLabel="Abbrechen" 
                                      multiple="false" fileLimit="1"
                                      allowTypes="/(\.|\/)(jpe?g)$/" sizeLimit="18000000"
                                      fileUploadListener="#{fileUploadController.handleFileUploadParent}"
                                      invalidFileMessage="Nur JPG ist erlaubt!"
                                      invalidSizeMessage="Error"
                                      fileLimitMessage="Nur ein Bild!"
                                      update="emergency-preview"/>
                        
                    </h:panelGrid>
                    
                    <p:separator style="clear: both; margin-bottom: 20px;"/>
                    
                    <p:commandButton value="Notfallkontakt erstellen" process="create-emergency-input @this" 
                                     actionListener="#{childCreateController.saveEmergencyPerson()}" 
                                     action="#{fileUploadController.setId(childCreateController.child.id)}" class="button-save"
                                     update="wrongInputEmergencyCreate :form:child-emergency-contact" id="sucess-create">
                        <p:confirm header="Notfallkontakt erstellen" message="Notfallkontakt erstellen?" />
                    </p:commandButton>
                    <p:commandButton value="Abbrechen" action="#{fileUploadController.setId(childCreateController.child.id)}" process="@this" 
                                     oncomplete="PF('create-emergency-person').hide()" class="button-abort"/>
                </p:dialog>
                
                <p:dialog widgetVar="select-emergency" modal="true" closeOnEscape="true"  dynamic="true" header="Notfallkontakt auswählen">
                    <p:dataTable id="emergency-table" value="#{userListController.allParents}" var="emergency" style="margin-top: 20px; max-width: 600px; margin-bottom: 20px;" 
                                 emptyMessage="Keine Kinder gefunden" class="table" widgetVar="select-emergency-table"
                                 scrollable="true" scrollHeight="300" selectionMode="single"  rendered="#{!childRegistrationView.shouldAddParent}"
                                 selection="#{childCreateController.emergencyPerson}"  rowKey="#{emergency.id}" tableStyle="table-layout: auto">
                        
                        <f:facet name="header">
                            <p:outputPanel class="header-text" style="text-align: left;">
                                <h:outputText value="Suche nach Eltern: " style="color: white; font-size: 16px;"/>
                                <p:inputText id="globalFilter" onkeyup="PF('select-emergency-table').filter()" style="width: 200px; font-size: 14px;" 
                                             placeholder="Name eingeben"/>
                            </p:outputPanel>
                        </f:facet>
                        
                        <p:column headerText="Bild" width="102" style="text-align: center;" >
                            <h:commandButton image="/imageParent?id=#{emergency.id}" actionListener="#{imageController.setIdForParent(emergency.id)}"  
                                             style="max-height: 45px;">
                                <p:ajax event="click" listener="#{imageController.setIdForParent(emergency.id)}" process="@this" update=":form:picShow" 
                                        oncomplete="PF('pictureBig').show()"/>
                            </h:commandButton>
                        </p:column>
                        
                        <p:column filterBy="#{emergency.firstName}" filterMatchMode="contains" filterStyle="display: none;" sortBy="#{emergency.firstName}">
                            <f:facet name="header">
                                <h:outputText value="Vorname" />
                            </f:facet>
                            <h:outputText value="#{emergency.firstName}"/>
                        </p:column>
                        
                        
                        <p:column filterBy="#{emergency.lastName}" filterMatchMode="contains" filterStyle="display: none;" sortBy="#{emergency.lastName}">
                            <f:facet name="header">
                                <h:outputText value="Nachname" />
                            </f:facet>
                            <h:outputText value="#{emergency.lastName}"/>
                        </p:column>                                                    
                        
                        <p:column  filterBy="#{emergency.email}" filterMatchMode="contains" filterStyle="display: none;" sortBy="#{emergency.email}">
                            <f:facet name="header">
                                <h:outputText value="Email" />
                            </f:facet>
                            <h:outputText  value="#{emergency.email}"/>
                        </p:column>
                        
                        <p:ajax event="rowSelect" process="@this"/>
                    </p:dataTable>
                    
                    <p:commandButton value="Notfallkontakt auswählen" action="#{childCreateController.loadEmergencyById()}" class="button-save"
                                     oncomplete="PF('select-emergency').hide()" update=":form:child-emergency-contact @this">
                        <f:setPropertyActionListener value="#{childCreateController.emergencyPerson.id}" target="#{childCreateController.emergencyId}"/>
                    </p:commandButton>    
                    <p:commandButton value="Abbrechen" oncomplete="PF('select-emergency').hide()" class="button-abort"/>
                </p:dialog>            
                
                
                <p:dialog widgetVar="create-sibling" modal="true" closeOnEscape="true" dynamic="true" header="Geschwister erstellen">  
                    <p:messages id="wrongInputSiblingCreate"/>
                    
                    <h:panelGrid id="create-sibling-input" columns="1" style="margin-bottom: 20px;" class="grid">
                        <p:outputLabel for="sibling-firstname" value="Vorname: "/>
                        <p:inputText id="sibling-firstname" class="input-field" value="#{childCreateController.sibling.firstName}" label="Vorname*" 
                                     required="true" rendered="#{childCreateController.siblingSet}" requiredMessage="Vorname fehlt!"/>
                        
                        <p:outputLabel for="sibling-lastname" value="Nachname: " style="margin-top: 20px;"/>
                        <p:inputText id="sibling-lastname" class="input-field" value="#{childCreateController.sibling.lastName}" label="Nachname*" 
                                     required="true" rendered="#{childCreateController.siblingSet}" requiredMessage="Nachname fehlt!"/>
                        
                        <p:outputLabel for="sibling-birthdate" value="Geburtsdatum: " style="margin-top: 20px;"/>
                        <p:calendar id="sibling-birthdate" value="#{childCreateController.siblingBirthdate}" pattern="dd.MM.yyyy" 
                                    mask="true" navigator="true" yearRange="c-10:c+0" required="true" class="input-field-advanced" 
                                    disabled="#{!childCreateController.siblingSet}" requiredMessage="Geburtsdatum fehlt!" locale="de">
                            <p:ajax event="dateSelect" process="@this"/>
                            <p:ajax event="blur" process="@this"/>
                        </p:calendar> 
                        
                    </h:panelGrid>
                    
                    
                    <p:commandButton value="Geschwister erstellen" id="sibling-create-button" process="create-sibling-input @this" 
                                     actionListener="#{childCreateController.addExternalSiblings()}" update="wrongInputSiblingCreate :form:externals" 
                                     class="button-save">
                        <p:confirm header="Geshwister erstellen" message="Geschwister erstellen?" />
                    </p:commandButton>
                    <p:commandButton value="Abbrechen" oncomplete="PF('create-sibling').hide()" class="button-abort"/>
                </p:dialog>
                
                <p:dialog widgetVar="select-sibling" modal="true" closeOnEscape="true"  dynamic="true" header="Geschwister auswählen">
                    <p:dataTable id="sibling-table" value="#{childListController.children}" var="sibling" style="margin-top: 20px; max-width: 600px; margin-bottom: 20px;" 
                                 emptyMessage="Keine Kinder gefunden" class="table"
                                 scrollable="true" scrollHeight="200" selectionMode="single"  rendered="#{!childRegistrationView.shouldAddParent}"
                                 selection="#{childCreateController.internal}"  rowKey="#{sibling.id}">   
                        
                        <p:column headerText="Bild" width="102" style="text-align: center;" >
                            <h:commandButton image="/imageChild?id=#{sibling.id}" actionListener="#{imageController.setIdForChild(sibling.id)}"  
                                             style="max-height: 45px;">
                                <p:ajax event="click" listener="#{imageController.setIdForChild(sibling.id)}" process="@this" update=":form:picShow" 
                                        oncomplete="PF('pictureBig').show()"/>
                            </h:commandButton>
                        </p:column>
                        
                        <p:column  >
                            <f:facet name="header">
                                <h:outputText value="Vorname" />
                            </f:facet>
                            <h:outputText value="#{sibling.firstName}"/>
                        </p:column>
                        
                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="Nachname" />
                            </f:facet>
                            <h:outputText value="#{sibling.lastName}"/>
                        </p:column>
                        
                        <p:column headerText="Geburtstag" width="150px;" style="text-align: center;">
                            <h:outputText value="#{sibling.birthdate.time}">
                                <f:convertDateTime pattern="dd.MM.yyyy" locale="de"/>
                            </h:outputText>
                        </p:column> 
                        
                        <p:ajax event="rowSelect" process="@this">
                            <f:setPropertyActionListener target="#{childCreateController.internal}" value="#{sibling}"/>
                        </p:ajax>
                    </p:dataTable>
                    <p:commandButton value="Geschwister auswählen" id="sibling-load-button" actionListener="#{childCreateController.addInternalSiblings}" 
                                     process="@this" update=":form:internals" oncomplete="PF('select-sibling').hide()" class="button-save">                                        
                    </p:commandButton>   
                    <p:commandButton value="Abbrechen" oncomplete="PF('select-sibling').hide()" class="button-abort"/>
                </p:dialog>
                
                
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Ja" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" action="./child-settings.xhtml?faces-redirect=true"/>
                    <p:commandButton value="Nein" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>
                
                <p:dialog header="Bild" widgetVar="pictureBig" id="picShow" modal="true" closeOnEscape="true">         
                    <p:graphicImage value="/imageParent?id=#{imageController.saveId}" style="max-height: 1000px; max-width: 1000px;" rendered="#{imageController.imageFromParent}"/>
                    <p:graphicImage value="/imageCaregiver?id=#{imageController.saveId}" style="max-height: 1000px; max-width: 1000px;" rendered="#{imageController.imageFromCaregiver}"/>
                    <p:graphicImage value="/imageChild?id=#{imageController.saveId}" style="max-height: 1000px; max-width: 1000px;" rendered="#{imageController.imageFromChild}"/>
                </p:dialog> 
            </div>             
        </h:form>
    </ui:define>
</ui:composition>
