<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <h:outputStylesheet name="/css/style-employee-main.css"/>
        <h:form id="form">
            <div class="page-content container">
                <div class="row datepicker">
                    <p:calendar id="dayplan-calendar" value="#{dayPlanTimeConfigurationBean.day}" showOn="button" navigator="true" pattern="dd.MM.yyyy" locale="de">                        
                        <p:ajax event="dateSelect" process="@this" update="form"/>
                    </p:calendar>
                    <p:tooltip for="dayplan-calendar" value="Kalenderansicht"/>
                        
                    <p:commandButton icon="fa fa-fw fa-arrow-circle-left" actionListener="#{dayPlanTimeConfigurationBean.setPrevDay()}" process="@this" update="form" id="prevDayPlan"/> 
                    <p:tooltip id="prevDayPlan-tool" for="prevDayPlan" value="Vorheriger Tag" position="top"/>
                    
                    <p:commandButton icon="fa fa-fw fa-arrow-circle-right" actionListener="#{dayPlanTimeConfigurationBean.setNextDay()}" process="@this" update="form" id="nextDayPlan"/>
                    <p:tooltip id="nextDayPlan-tool" for="nextDayPlan" value="Nächster Tag" position="top"/>
                    
                    <p:commandButton icon="fa fa-fw fa-calendar" action="#{dayPlanTimeConfigurationBean.setToday()}" process="@this" update="form" id="currentDayPlan"/>
                    <p:tooltip id="todayPlan-tool" for="currentDayPlan" value="Heute" position="top"/>
                </div>
                    
                <div style="float: right;">
                    <h:commandLink id="print-dayplan">
                        <p:graphicImage value="../../resources/images/print-icon.png" width="45"/>
                        <p:printer target="form"/>
                    </h:commandLink>                    
                        
                    <h:commandLink id="export-pdf-dayplan">
                        <p:graphicImage value="../../resources/images/pdf-icon.png" width="45"/>
                        <p:dataExporter type="pdf" 
                                        target="att,lun,bir" 
                                        fileName="stammblatt" encoding="UTF-8"/>
                    </h:commandLink>
                </div>
                    
                <div style="margin-bottom: 70px;"/>
                
                <div class="attendence-table">
                    <p:dataTable value="#{attendanceListController.attendancesOfTodayAttending}" 
                                 var="attendance" filteredValue="#{attendanceListController.filteredAttendances}" widgetVar="allChildrenTable"
                                 emptyMessage="Keine Angemeldeten Kinder für diesen Tag" id="att" class="table" scrollable="true" scrollHeight="300">
                        <f:facet name="header">  
                            <h:outputText value="Angemeldete Kinder"/>  
                        </f:facet>
                            
                        <f:facet name="header">
                                    <p:outputPanel class="header-text" style="text-align: left;">
                                        <h:outputText value="Suche nach Kind: " style="color: white; font-weight: 500;"/>
                                        <p:inputText id="globalFilter" onkeyup="PF('allChildrenTable').filter()" 
                                                     style="width: 200px; font-size: 16px;" placeholder="Name eingeben"/>
                                    </p:outputPanel>
                                </f:facet>
                        
                        <p:column headerText="Bild" width="102" style="text-align: center;" exportable="false">
                            <h:commandButton image="/imageChild?id=#{attendance.child.id}" actionListener="#{imageController.setSaveId(attendance.child.id)}"  
                                             style="max-height: 45px;">
                                <p:ajax event="click" listener="#{imageController.setSaveId(attendance.child.id)}" process="@this" update="form" 
                                        oncomplete="PF('pictureBig').show()"/>
                            </h:commandButton>
                        </p:column>
                            
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Name" />
                            </f:facet>
                            <h:outputText value="#{attendance.child.firstName} #{attendance.child.lastName}"/>
                        </p:column>                     
                            
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Abholperson" />
                            </f:facet>
                            <h:outputText value="#{attendance.pickUpPerson.firstName} #{attendance.pickUpPerson.lastName}"/>
                        </p:column>                        
                            
                        <p:column width="100px;" style="text-align: center;">
                            <f:facet name="header">
                                <h:outputText value="Bringzeit" />
                            </f:facet>
                            <h:outputText value="#{attendance.arrivalTime.time}">
                                <f:convertDateTime pattern="HH:mm" locale="de"/>
                            </h:outputText>
                        </p:column>
                            
                        <p:column width="100px;" style="text-align: center;">    
                            <f:facet name="header">
                                <h:outputText value="Abholzeit" />
                            </f:facet>
                            <h:outputText value="#{attendance.departureTime.time}">
                                <f:convertDateTime pattern="HH:mm" locale="de"/>
                            </h:outputText>                         
                        </p:column>
                            
                        <p:column style="text-align: center;">    
                            <f:facet name="header">
                                <h:outputText value="Menü" />
                            </f:facet>
                            <h:outputText value="#{attendance.lunch.menu}"/>                        
                        </p:column>
                            
                        <p:column width="120px;" exportable="false" style="text-align: center;">
                            <f:facet name="header">
                                <h:outputText value="Zum Kind"/>
                            </f:facet>
                            <p:commandButton icon="fa fa-fw fa-share" actionListener="#{tempSaveBean.setChildIdAndRedirect(attendance.child.id)}" 
                                             process="@this" class="button-redirect"/>
                        </p:column>
                    </p:dataTable>
                </div>
                
                <p:dataTable value="#{attendanceListController.attendancesOfTodayMissing}" var="missing" id="mis" emptyMessage="Keine Kinder als fehlend gemeldet"
                             class="table" widgetVar="missingChildrenTable" scrollable="true" scrollHeight="100">
                
                    <f:facet name="header">  
                            <h:outputText value="Fehlende Kinder"/>  
                        </f:facet>
                    
                     <f:facet name="header">
                                    <p:outputPanel class="header-text" style="text-align: left;">
                                        <h:outputText value="Suche nach Kind: " style="color: white; font-weight: 500;"/>
                                        <p:inputText id="globalFilter" onkeyup="PF('missingChildrenTable').filter()" 
                                                     style="width: 200px; font-size: 16px;" placeholder="Name eingeben"/>
                                    </p:outputPanel>
                                </f:facet>
                    
                    <p:column headerText="Bild" width="102" style="text-align: center;" exportable="false">
                            <h:commandButton image="/imageChild?id=#{missing.child.id}" actionListener="#{imageController.setSaveId(missing.child.id)}"  
                                             style="max-height: 45px;">
                                <p:ajax event="click" listener="#{imageController.setSaveId(missing.child.id)}" process="@this" update="form" 
                                        oncomplete="PF('pictureBig').show()"/>
                            </h:commandButton>
                        </p:column>
                    
                    <p:column>
                            <f:facet name="header">
                                <h:outputText value="Name" />
                            </f:facet>
                            <h:outputText value="#{attendance.child.firstName} #{attendance.child.lastName}"/>
                        </p:column>
                    
                    <p:column headerText="Geburtstag" width="150px;" style="text-align: center;" filterBy="#{missing.child.birthdate.time}" filterMatchMode="contains" filterStyle="display:none;">
                                    <h:outputText value="#{missing.child.birthdate.time}">
                                        <f:convertDateTime pattern="dd.MM.yyyy" locale="de" timeZone="CET"/>
                                    </h:outputText>
                                </p:column>
                    
                    <p:column width="120px;" exportable="false" style="text-align: center;">
                            <f:facet name="header">
                                <h:outputText value="Zum Kind"/>
                            </f:facet>
                            <p:commandButton icon="fa fa-fw fa-share" actionListener="#{tempSaveBean.setChildIdAndRedirect(attendance.child.id)}" 
                                             process="@this" class="button-redirect"/>
                        </p:column>
                </p:dataTable>
                    
                <div class="lunch-table">
                    <p:dataTable value="#{dayPlanDetailController.getDayPlan(dayPlanTimeConfigurationBean.dayAsCalendar).lunches}" var="lunch" 
                                 emptyMessage="Keine festgelegten Menüs für diesen Tag" id="lun" class="table">
                        <f:facet name="header">  
                            <h:outputText value="Menü"/>  
                        </f:facet>
                            
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Gericht" />
                            </f:facet>
                            <h:outputText value="#{lunch.menu}"/>
                        </p:column>
                            
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Preis" />
                            </f:facet>
                            <h:outputText value="#{lunch.price}">
                                <f:convertNumber type="currency" pattern="#0.00€" />
                            </h:outputText>
                        </p:column>
                    </p:dataTable>
                </div>
                    
                <div class="birthday-table">        
                    <p:dataTable value="#{dayPlanDetailController.getBirthdayChildren(dayPlanTimeConfigurationBean.day)}" var="birthdayChild" 
                                 emptyMessage="Keine Geburtstagskinder für diesen Tag" id="bir" class="table" scrollable="true" scrollHeight="300">
                        <f:facet name="header">  
                            <h:outputText value="Geburtstagskinder"/>  
                        </f:facet>
                            
                        <p:column headerText="Bild" width="102" exportable="false">
                            <h:commandButton image="/imageChild?id=#{birthdayChild.id}" actionListener="#{imageController.setSaveId(birthdayChild.id)}"  style="max-height: 45px;">
                                <p:ajax event="click" listener="#{imageController.setSaveId(birthdayChild.id)}" process="@this" update="@form" oncomplete="PF('pictureBig').show()"/>
                            </h:commandButton>
                        </p:column>
                            
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Name" />
                            </f:facet>
                            <h:outputText value="#{birthdayChild.firstName} #{birthdayChild.lastName}"/>
                        </p:column>
                            
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Alter" />
                            </f:facet>
                            <h:outputText value="#{dayPlanDetailController.getAge(birthdayChild)}"/>
                        </p:column>             
                    </p:dataTable>                  
                </div>   
            </div>    
                
            <p:dialog header="Bild" widgetVar="pictureBig" modal="true" closeOnEscape="true">
                <p:graphicImage value="/imageChild?id=#{imageController.saveId}" style="max-height: 1000px; max-width: 1000px;"/>
            </p:dialog>
                
            <script type="text/javascript">  
                PrimeFaces.locales['de'] = { 
                    closeText: 'Schließen', 
                    prevText: 'Zurück', 
                    nextText: 'Weiter', 
                    monthNames: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'], 
                    monthNamesShort: ['Jan', 'Feb', 'März', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez'], 
                    dayNames: ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'], 
                    dayNamesShort: ['Son', 'Mon', 'Die', 'Mit', 'Don', 'Fre', 'Sam'], 
                    dayNamesMin: ['So', 'Mo', 'Di', 'Mi ', 'Do', 'Fr ', 'Sa'], 
                    weekHeader: 'Woche', 
                    firstDay: 1, 
                    isRTL: false, 
                    showMonthAfterYear: false, 
                    yearSuffix: '', 
                    timeOnlyTitle: 'Nur Zeit', 
                    timeText: 'Zeit', 
                    hourText: 'Stunde', 
                    minuteText: 'Minute', 
                    secondText: 'Sekunde', 
                    currentText: 'Aktuelles Datum', 
                    ampm: false, 
                    month: 'Monat', 
                    week: 'Woche', 
                    day: 'Tag', 
                    allDayText: 'Ganzer Tag' }; 
            </script>  
        </h:form> 
    </ui:define>
</ui:composition>