<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
                    
    <ui:define name ="content">
        <h:head>
            <f:metadata>
                <f:viewAction action="#{userDetailController.createUser()}"/>
            </f:metadata>
        </h:head>
        <div class="main-menu">
            <h:outputStylesheet name="css/style-employee-main.css"/>
        </div>
        <h:form>            
            <div class="page-content container">
                <div class="heading">
                    <h1 class="heading-text">MITARBEITER ANMELDEN</h1>
                </div>                                                        
                    <p:messages id="wrongInputEmployee"/>
                    <h:panelGrid columns="1" id="create-employee-input" class="col-md-5 grid">
                            <p:outputLabel for="user-firstname" value="Vorname: "/>
                            <p:inputText id="user-firstname" value="#{userDetailController.user.firstName}"
                                         label="Vorname" required="true" class="input-field"
                                         requiredMessage="Vorname fehlt!" style="margin-top: 0;"/>
                            
                            <p:outputLabel for="user-lastname" value="Nachname: " style="margin-top: 20px;"/>
                            <p:inputText id="user-lastname" class="input-field" value="#{userDetailController.user.lastName}" label="Nachname" required="true" 
                                         requiredMessage="Nachname fehlt!" style="margin-top: 0;"/>
                            
                            <p:outputLabel for="user-mail" value="E-Mail Adresse: " style="margin-top: 20px;"/>
                            <p:inputText id="user-mail" class="input-field" label="E-Mail Adresse" required="true" 
                                         value="#{userDetailController.user.email}" 
                                         disabled="#{userDetailController.userRegistrated}" requiredMessage="E-Mail Adresse fehlt!"
                                         validatorMessage="E-Mail Adresse unültig!" style="margin-top: 0;">
                                <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />                            
                            </p:inputText>
                            
                            <p:outputLabel for="employee-number-private" value="Telefonnummer privat: " style="margin-top: 20px;"/>
                            <p:inputMask id="employee-number-private" class="input-field" label="Telefonnummer privat" 
                                         value="#{userDetailController.user.privatePhone}" required="true" disabled="#{userDetailController.userRegistrated}"
                                         requiredMessage="Telefonnumber privat fehlt!" mask="+(99) 999-9999?999999" style="margin-top: 0;"/>
                            
                        </h:panelGrid>
                    
                    <div style="clear: both;"/>
                            
            <p:commandButton value="Mitarbeiter anmelden" process="create-employee-input @this" action="#{userDetailController.doSaveEmployee()}" 
                             update="wrongInputEmployee" class="button-save" style="margin-top: 20px;">
                                <p:confirm header="Mitarbeiter erstellen" message="Mitarbeiter erstellen?"/>
                            </p:commandButton>
                <p:commandButton value="Abbrechen" action="./employee-settings.xhtml?faces-redirect=true" 
                                 process="@this" class="button-abort"/>
            
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Ja" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" action="./child-settings.xhtml?faces-redirect=true"/>
                    <p:commandButton value="Nein" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>
            </div>
        </h:form>
    </ui:define>
</ui:composition>