<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
                    
    <ui:define name="content">

        <div class="main-menu">
            <h:outputStylesheet name="css/style-employee-main.css"/>
        </div>
        <h:form id="form">            
            <div class="page-content container">
                <h2>Öffnungszeiten: </h2>
                <p:messages id="wrongInput"/>
                <h:panelGrid id="time-config" columns="4">
                   
                    <h:outputText value="Montags" style="font-size: 20px;"/>
                    <p:selectBooleanButton value="#{dayPlanConfigController.openMonday}" onLabel="Geöffnet" offLabel="Geschlossen" class="button-boolean" 
                                           style="margin-left: 20px; margin-right: 20px;">
                    <p:ajax event="change" update="time-config"/>
                    </p:selectBooleanButton>
                   
                   <h:panelGrid style="margin-bottom: 35px;">
                       <p:outputLabel for="depart1" value="Bringzeit: " style="margin-left: 10px;"/>
                    <p:column>
                        <p:calendar id="arrival1" value="#{dayPlanConfigController.earliestArrivalTimeMonday}" pattern="HH:mm" timeOnly="true"
                               required="true" requiredMessage="Montag: Früheste Abholzeit fehlt!" class="input-field-advanced" 
                               style="float: left; margin-right: 10px; width: 60px !important; text-align: center; margin-left: 10px;" disabled="#{!dayPlanConfigController.isOpen(0)}"/>
                   
                    <div style="float: left; width: 15px; height: 4px; background: black; margin-top: 13px;"/> 
                   
                    <p:calendar id="arrival2" value="#{dayPlanConfigController.latestArrivalTimeMonday}" pattern="HH:mm" timeOnly="true" disabled="#{!dayPlanConfigController.isOpen(0)}"
                               required="true" requiredMessage="Montag Früheste Abholzeit fehlt!" class="input-field-advanced" 
                               style="float: left; width: 60px !important; text-align: center; margin-left: 10px; margin-right: 10px;"/>
                    </p:column>
                   </h:panelGrid>
                   
                    <h:panelGrid style="margin-left: 30px; margin-bottom: 35px;">
                   <p:outputLabel for="depart1" value="Abholzeit: " style="margin-left: 10px;"/>
                    <p:column>
                        <p:calendar id="depart1" value="#{dayPlanConfigController.earliestDepartureTimeMonday}" pattern="HH:mm" timeOnly="true" disabled="#{!dayPlanConfigController.isOpen(0)}"
                               required="true" requiredMessage="Montag: Früheste Abholzeit fehlt!" class="input-field-advanced" 
                               style="float: left; margin-right: 10px; margin-left: 10px; width: 60px !important; text-align: center;"/>
                   
                   <div style="float: left; width: 15px; height: 4px; background: black; margin-top: 13px;"/> 
                   
                   <p:calendar id="depart2" value="#{dayPlanConfigController.latestDepartureTimeMonday}" pattern="HH:mm" timeOnly="true" disabled="#{!dayPlanConfigController.isOpen(0)}"
                               required="true" requiredMessage="Montag Früheste Abholzeit fehlt!" class="input-field-advanced" 
                               style="float: left; width: 60px !important; text-align: center; margin-right: 10px; margin-left: 10px;"/>
                    </p:column>
                   </h:panelGrid>
                   
                    <h:outputText value="Dienstag" style="font-size: 20px;"/>
                    <p:selectBooleanButton value="#{dayPlanConfigController.openThuesday}" onLabel="Geöffnet" offLabel="Geschlossen" class="button-boolean" 
                                           style="margin-left: 20px; margin-right: 20px;">
                    <p:ajax event="change" update="time-config"/>
                    </p:selectBooleanButton>
                   
                   <h:panelGrid style="margin-bottom: 35px;">
                       <p:outputLabel for="depart3" value="Bringzeit: " style="margin-left: 10px;"/>
                    <p:column>
                        <p:calendar id="arrival3" value="#{dayPlanConfigController.earliestArrivalTimeThuesday}" pattern="HH:mm" timeOnly="true" disabled="#{!dayPlanConfigController.isOpen(1)}"
                               required="true" requiredMessage="Dienstag: Früheste Abholzeit fehlt!" class="input-field-advanced" 
                               style="float: left; margin-right: 10px; width: 60px !important; text-align: center; margin-left: 10px;"/>
                   
                    <div style="float: left; width: 15px; height: 4px; background: black; margin-top: 13px;"/> 
                   
                    <p:calendar id="arrival4" value="#{dayPlanConfigController.latestArrivalTimeThuesday}" pattern="HH:mm" timeOnly="true" disabled="#{!dayPlanConfigController.isOpen(1)}"
                               required="true" requiredMessage="Dienstag Früheste Abholzeit fehlt!" class="input-field-advanced" 
                               style="float: left; width: 60px !important; text-align: center; margin-left: 10px; margin-right: 10px;"/>
                    </p:column>
                   </h:panelGrid>
                   
                   <h:panelGrid style="margin-bottom: 35px; margin-left: 30px;">
                   <p:outputLabel for="depart3" value="Abholzeit: " style="margin-left: 10px;"/>
                    <p:column>
                        <p:calendar id="depart3" value="#{dayPlanConfigController.earliestDepartureTimeThuesday}" pattern="HH:mm" timeOnly="true" disabled="#{!dayPlanConfigController.isOpen(1)}"
                               required="true" requiredMessage="Dienstag: Früheste Abholzeit fehlt!" class="input-field-advanced" 
                               style="float: left; margin-right: 10px; margin-left: 10px; width: 60px !important; text-align: center;"/>
                   
                   <div style="float: left; width: 15px; height: 4px; background: black; margin-top: 13px;"/> 
                   
                   <p:calendar id="depart4" value="#{dayPlanConfigController.latestDepartureTimeThuesday}" pattern="HH:mm" timeOnly="true" disabled="#{!dayPlanConfigController.isOpen(1)}"
                               required="true" requiredMessage="Dienstag Früheste Abholzeit fehlt!" class="input-field-advanced" 
                               style="float: left; width: 60px !important; text-align: center; margin-right: 10px; margin-left: 10px;"/>
                    </p:column>
                   </h:panelGrid>
                   
                   
                   <h:outputText value="Mittwoch" style="font-size: 20px;"/>
                   <p:selectBooleanButton value="#{dayPlanConfigController.openWendesday}" onLabel="Geöffnet" offLabel="Geschlossen" class="button-boolean" 
                                          style="margin-left: 20px; margin-right: 20px;">
                   <p:ajax event="change" update="time-config"/>
                   </p:selectBooleanButton>
                   
                   <h:panelGrid style="margin-bottom: 35px;">
                       <p:outputLabel for="depart5" value="Bringzeit: " style="margin-left: 10px;"/>
                    <p:column>
                        <p:calendar id="arrival5" value="#{dayPlanConfigController.earliestArrivalTimeWednesday}" pattern="HH:mm" timeOnly="true" disabled="#{!dayPlanConfigController.isOpen(2)}"
                               required="true" requiredMessage="Mittwoch: Früheste Abholzeit fehlt!" class="input-field-advanced" 
                               style="float: left; margin-right: 10px; width: 60px !important; text-align: center; margin-left: 10px;"/>
                   
                    <div style="float: left; width: 15px; height: 4px; background: black; margin-top: 13px;"/> 
                   
                    <p:calendar id="arrival6" value="#{dayPlanConfigController.latestArrivalTimeWednesday}" pattern="HH:mm" timeOnly="true" disabled="#{!dayPlanConfigController.isOpen(2)}"
                               required="true" requiredMessage="Mittwoch Früheste Abholzeit fehlt!" class="input-field-advanced" 
                               style="float: left; width: 60px !important; text-align: center; margin-left: 10px; margin-right: 10px;"/>
                    </p:column>
                   </h:panelGrid>
                   
                   <h:panelGrid style="margin-bottom: 35px; margin-left: 30px;">
                   <p:outputLabel for="depart5" value="Abholzeit: " style="margin-left: 10px;"/>
                    <p:column>
                        <p:calendar id="depart5" value="#{dayPlanConfigController.earliestDepartureTimeWednesday}" pattern="HH:mm" timeOnly="true" disabled="#{!dayPlanConfigController.isOpen(2)}"
                               required="true" requiredMessage="Mittwoch: Früheste Abholzeit fehlt!" class="input-field-advanced" 
                               style="float: left; margin-right: 10px; margin-left: 10px; width: 60px !important; text-align: center;"/>
                   
                   <div style="float: left; width: 15px; height: 4px; background: black; margin-top: 13px;"/> 
                   
                   <p:calendar id="depart6" value="#{dayPlanConfigController.latestDepartureTimeWednesday}" pattern="HH:mm" timeOnly="true" disabled="#{!dayPlanConfigController.isOpen(2)}"
                               required="true" requiredMessage="Mittwoch Früheste Abholzeit fehlt!" class="input-field-advanced" 
                               style="float: left; width: 60px !important; text-align: center; margin-right: 10px; margin-left: 10px;"/>
                    </p:column>
                   </h:panelGrid>
                   
                   
                   <h:outputText value="Donnertstag" style="font-size: 20px;"/>
                   <p:selectBooleanButton value="#{dayPlanConfigController.openThursday}" onLabel="Geöffnet" offLabel="Geschlossen" class="button-boolean" 
                                          style="margin-left: 20px; margin-right: 20px;">
                       <p:ajax event="change" update="time-config"/>
                   </p:selectBooleanButton>
                   
                   <h:panelGrid style="margin-bottom: 35px;">
                       <p:outputLabel for="depart7" value="Bringzeit: " style="margin-left: 10px;"/>
                    <p:column>
                        <p:calendar id="arrival7" value="#{dayPlanConfigController.earliestArrivalTimeThursday}" pattern="HH:mm" timeOnly="true" disabled="#{!dayPlanConfigController.isOpen(3)}"
                               required="true" requiredMessage="Donnerstag: Früheste Abholzeit fehlt!" class="input-field-advanced" 
                               style="float: left; margin-right: 10px; width: 60px !important; text-align: center; margin-left: 10px;"/>
                   
                    <div style="float: left; width: 15px; height: 4px; background: black; margin-top: 13px;"/> 
                   
                    <p:calendar id="arrival8" value="#{dayPlanConfigController.latestArrivalTimeThursday}" pattern="HH:mm" timeOnly="true" disabled="#{!dayPlanConfigController.isOpen(3)}"
                               required="true" requiredMessage="Donnerstag Früheste Abholzeit fehlt!" class="input-field-advanced" 
                               style="float: left; width: 60px !important; text-align: center; margin-left: 10px; margin-right: 10px;"/>
                    </p:column>
                   </h:panelGrid>
                   
                   <h:panelGrid style="margin-bottom: 35px; margin-left: 30px;">
                   <p:outputLabel for="depart7" value="Abholzeit: " style="margin-left: 10px;"/>
                    <p:column>
                        <p:calendar id="depart7" value="#{dayPlanConfigController.earliestDepartureTimeThursday}" pattern="HH:mm" timeOnly="true" disabled="#{!dayPlanConfigController.isOpen(3)}"
                               required="true" requiredMessage="Donnerstag: Früheste Abholzeit fehlt!" class="input-field-advanced" 
                               style="float: left; margin-right: 10px; margin-left: 10px; width: 60px !important; text-align: center;"/>
                   
                   <div style="float: left; width: 15px; height: 4px; background: black; margin-top: 13px;"/> 
                   
                   <p:calendar id="depart8" value="#{dayPlanConfigController.latestDepartureTimeThursday}" pattern="HH:mm" timeOnly="true" disabled="#{!dayPlanConfigController.isOpen(3)}"
                               required="true" requiredMessage="Donnerstag Früheste Abholzeit fehlt!" class="input-field-advanced" 
                               style="float: left; width: 60px !important; text-align: center; margin-right: 10px; margin-left: 10px;"/>
                    </p:column>
                   </h:panelGrid>
                   
                   
                   <h:outputText value="Freitag" style="font-size: 20px;"/>
                   <p:selectBooleanButton value="#{dayPlanConfigController.openFriday}" onLabel="Geöffnet" offLabel="Geschlossen" class="button-boolean" 
                                          style="margin-left: 20px; margin-right: 20px;">
                    <p:ajax event="change" update="time-config"/>
                   </p:selectBooleanButton>
                   
                   <h:panelGrid style="margin-bottom: 35px;">
                       <p:outputLabel for="depart9" value="Bringzeit: " style="margin-left: 10px;"/>
                    <p:column>
                        <p:calendar id="arrival9" value="#{dayPlanConfigController.earliestArrivalTimeFriday}" pattern="HH:mm" timeOnly="true" disabled="#{!dayPlanConfigController.isOpen(4)}"
                               required="true" requiredMessage="Freitag: Früheste Abholzeit fehlt!" class="input-field-advanced" 
                               style="float: left; margin-right: 10px; width: 60px !important; text-align: center; margin-left: 10px;"/>
                   
                    <div style="float: left; width: 15px; height: 4px; background: black; margin-top: 13px;"/> 
                   
                    <p:calendar id="arrival10" value="#{dayPlanConfigController.latestArrivalTimeFriday}" pattern="HH:mm" timeOnly="true" disabled="#{!dayPlanConfigController.isOpen(4)}"
                               required="true" requiredMessage="Freitag Früheste Abholzeit fehlt!" class="input-field-advanced" 
                               style="float: left; width: 60px !important; text-align: center; margin-left: 10px; margin-right: 10px;"/>
                    </p:column>
                   </h:panelGrid>
                   
                   <h:panelGrid style="margin-bottom: 35px; margin-left: 30px;">
                   <p:outputLabel for="depart9" value="Abholzeit: " style="margin-left: 10px;"/>
                    <p:column>
                        <p:calendar id="depart9" value="#{dayPlanConfigController.earliestDepartureTimeFriday}" pattern="HH:mm" timeOnly="true" disabled="#{!dayPlanConfigController.isOpen(4)}"
                               required="true" requiredMessage="Freitag: Früheste Abholzeit fehlt!" class="input-field-advanced" 
                               style="float: left; margin-right: 10px; margin-left: 10px; width: 60px !important; text-align: center;"/>
                   
                   <div style="float: left; width: 15px; height: 4px; background: black; margin-top: 13px;"/> 
                   
                   <p:calendar id="depart10" value="#{dayPlanConfigController.latestDepartureTimeFriday}" pattern="HH:mm" timeOnly="true" disabled="#{!dayPlanConfigController.isOpen(4)}"
                               required="true" requiredMessage="Freitag Früheste Abholzeit fehlt!" class="input-field-advanced" 
                               style="float: left; width: 60px !important; text-align: center; margin-right: 10px; margin-left: 10px;"/>
                    </p:column>
                   </h:panelGrid>
                   
                   
                   <h:outputText value="Samstag" style="font-size: 20px;"/>
                   <p:selectBooleanButton value="#{dayPlanConfigController.openSaturday}" onLabel="Geöffnet" offLabel="Geschlossen" class="button-boolean" 
                                          style="margin-left: 20px; margin-right: 20px;">
                       <p:ajax event="change" update="time-config"/>
                   </p:selectBooleanButton>
                   
                   <h:panelGrid style="margin-bottom: 35px;">
                       <p:outputLabel for="depart11" value="Bringzeit: " style="margin-left: 10px;"/>
                    <p:column>
                        <p:calendar id="arrival11" value="#{dayPlanConfigController.earliestArrivalTimeSaturday}" pattern="HH:mm" timeOnly="true" disabled="#{!dayPlanConfigController.isOpen(5)}"
                               required="true" requiredMessage="Samstag: Früheste Abholzeit fehlt!" class="input-field-advanced" 
                               style="float: left; margin-right: 10px; width: 60px !important; text-align: center; margin-left: 10px;"/>
                   
                    <div style="float: left; width: 15px; height: 4px; background: black; margin-top: 13px;"/> 
                   
                    <p:calendar id="arrival12" value="#{dayPlanConfigController.latestArrivalTimeSaturday}" pattern="HH:mm" timeOnly="true" disabled="#{!dayPlanConfigController.isOpen(5)}"
                               required="true" requiredMessage="Samstag Früheste Abholzeit fehlt!" class="input-field-advanced" 
                               style="float: left; width: 60px !important; text-align: center; margin-left: 10px; margin-right: 10px;"/>
                    </p:column>
                   </h:panelGrid>
                   
                   <h:panelGrid style="margin-bottom: 35px; margin-left: 30px;">
                   <p:outputLabel for="depart11" value="Abholzeit: " style="margin-left: 10px;"/>
                    <p:column>
                        <p:calendar id="depart11" value="#{dayPlanConfigController.earliestDepartureTimeSaturday}" pattern="HH:mm" timeOnly="true" disabled="#{!dayPlanConfigController.isOpen(5)}"
                               required="true" requiredMessage="Samstag: Früheste Abholzeit fehlt!" class="input-field-advanced" 
                               style="float: left; margin-right: 10px; margin-left: 10px; width: 60px !important; text-align: center;"/>
                   
                   <div style="float: left; width: 15px; height: 4px; background: black; margin-top: 13px;"/> 
                   
                   <p:calendar id="depart12" value="#{dayPlanConfigController.latestDepartureTimeSaturday}" pattern="HH:mm" timeOnly="true" disabled="#{!dayPlanConfigController.isOpen(5)}"
                               required="true" requiredMessage="Samstag Früheste Abholzeit fehlt!" class="input-field-advanced" 
                               style="float: left; width: 60px !important; text-align: center; margin-right: 10px; margin-left: 10px;"/>
                    </p:column>
                   </h:panelGrid>
                   
                   
                   
                   <h:outputText value="Sonntag" style="font-size: 20px;"/>
                   <p:selectBooleanButton value="#{dayPlanConfigController.openSunday}" onLabel="Geöffnet" offLabel="Geschlossen" class="button-boolean" 
                                          style="margin-left: 20px; margin-right: 20px;">
                       <p:ajax event="change" update="time-config"/>
                   </p:selectBooleanButton>
                   
                   <h:panelGrid style="margin-bottom: 35px;">
                       <p:outputLabel for="depart13" value="Bringzeit: " style="margin-left: 10px;"/>
                    <p:column>
                        <p:calendar id="arrival13" value="#{dayPlanConfigController.earliestArrivalTimeSunday}" pattern="HH:mm" timeOnly="true" disabled="#{!dayPlanConfigController.isOpen(6)}"
                               required="true" requiredMessage="Sonntag: Früheste Abholzeit fehlt!" class="input-field-advanced" 
                               style="float: left; margin-right: 10px; width: 60px !important; text-align: center; margin-left: 10px;"/>
                   
                    <div style="float: left; width: 15px; height: 4px; background: black; margin-top: 13px;"/> 
                   
                    <p:calendar id="arrival14" value="#{dayPlanConfigController.latestArrivalTimeSunday}" pattern="HH:mm" timeOnly="true" disabled="#{!dayPlanConfigController.isOpen(6)}"
                               required="true" requiredMessage="Sonntag Früheste Abholzeit fehlt!" class="input-field-advanced" 
                               style="float: left; width: 60px !important; text-align: center; margin-left: 10px; margin-right: 10px;"/>
                    </p:column>
                   </h:panelGrid>
                   
                   <h:panelGrid style="margin-bottom: 35px; margin-left: 30px;">
                   <p:outputLabel for="depart13" value="Abholzeit: " style="margin-left: 10px;"/>
                    <p:column>
                        <p:calendar id="depart13" value="#{dayPlanConfigController.earliestDepartureTimeSunday}" pattern="HH:mm" timeOnly="true" disabled="#{!dayPlanConfigController.isOpen(6)}"
                               required="true" requiredMessage="Sonntag: Früheste Abholzeit fehlt!" class="input-field-advanced" 
                               style="float: left; margin-right: 10px; margin-left: 10px; width: 60px !important; text-align: center;"/>
                   
                   <div style="float: left; width: 15px; height: 4px; background: black; margin-top: 13px;"/> 
                   
                   <p:calendar id="depart14" value="#{dayPlanConfigController.latestDepartureTimeSunday}" pattern="HH:mm" timeOnly="true" disabled="#{!dayPlanConfigController.isOpen(6)}"
                               required="true" requiredMessage="Sonntag Früheste Abholzeit fehlt!" class="input-field-advanced" 
                               style="float: left; width: 60px !important; text-align: center; margin-right: 10px; margin-left: 10px;"/>
                    </p:column>
                   </h:panelGrid>
                </h:panelGrid>
                
                <p:commandButton value="Speichern" process="time-config wrongInput @this" update="time-config wrongInput" class="button-save" style="margin-top: 10px;"
                                 oncomplete="if (args &amp;&amp; !args.validationFailed) PF('successDialog').show()"/>
                <p:commandButton value="Zurücksetzen" update="time-config" process="@this" actionListener="#{dayPlanConfigController.resetTime}" class="button-abort"/>
                
                <p:separator/>

                <h2 style="margin-top: 20px;">Maximalbelegung: </h2>
                <h:panelGrid id="max-occupancy-input" class="grid" style="margin-bottom: 20px;">
                <p:outputLabel for="maxOccupancyDay" value="Für den Tag: "/>
                <p:selectOneButton value="#{dayPlanConfigController.selectedDay}" class="select-one-button" id="maxOccupancyDay">
                    <f:selectItem itemLabel="Montag" itemValue="0"/>
                    <f:selectItem itemLabel="Dienstag" itemValue="1"/>
                    <f:selectItem itemLabel="Mittwoch" itemValue="2"/>
                    <f:selectItem itemLabel="Donnerstag" itemValue="3"/>
                    <f:selectItem itemLabel="Freitag" itemValue="4"/>
                    <f:selectItem itemLabel="Samstag" itemValue="5"/>
                    <f:selectItem itemLabel="Sonntag" itemValue="6"/>
                    <p:ajax event="change" update="max-occupancy-input"/>
                </p:selectOneButton>
                
                    <p:outputLabel for="maxOccupancy" value="Maximale Anzahl der Kinder: " style="margin-top: 10px;"/>
                    <p:spinner id="maxOccupancy" value="#{dayPlanConfigController.maxOccupancySelected}" style="border-radius: 0px;" min="0" max="500"/>
                </h:panelGrid>
                
                <p:commandButton value="Speichern" process="maxOccupancyDay maxOccupancy @this" update="maxOccupancyDay" class="button-save" style="margin-top: 10px;"
                                 oncomplete="PF('successDialog').show()"/>
                <p:commandButton value="Zurücksetzen" update="max-occupancy-input" process="@this" actionListener="#{dayPlanConfigController.resetMaxOccupancy}" class="button-abort"/>
                
                
                <p:separator/>
                
                
                <h2 style="margin-top: 40px;">Deadline für Essensanmeldung: </h2>
                <h:panelGrid id="deadline-lunch-input" class="grid">
                <p:outputLabel for="deadlineLunchDay" value="Tag: " style="margin-top: 10px;"/>
                <p:selectOneButton value="#{dayPlanConfigController.lunchDeadlineDay}" id="deadlineLunchDay" class="select-one-button">
                    <f:selectItem itemLabel="Montag" itemValue="0"/>
                    <f:selectItem itemLabel="Dienstag" itemValue="1"/>
                    <f:selectItem itemLabel="Mittwoch" itemValue="2"/>
                    <f:selectItem itemLabel="Donnerstag" itemValue="3"/>
                    <f:selectItem itemLabel="Freitag" itemValue="4"/>
                    <f:selectItem itemLabel="Samstag" itemValue="5"/>
                    <f:selectItem itemLabel="Sonntag" itemValue="6"/>
                </p:selectOneButton>
                
                <p:outputLabel for="deadlineLunchTime" value="Zeit: " style="margin-top: 10px;"/>
                <p:calendar id="deadlineLunchTime" value="#{dayPlanConfigController.lunchDeadlineTime}" pattern="HH:mm" timeOnly="true"
                               class="input-field-advanced" style="float: left; margin-right: 10px; width: 60px !important; text-align: center; margin-left: 10px;"/>
                </h:panelGrid>
                
                <p:commandButton value="Speichern" process="deadline-lunch-input @this" update="deadline-lunch-input" class="button-save" style="margin-top: 10px;"
                                 oncomplete="PF('successDialog').show()"/>
                <p:commandButton value="Zurücksetzen" update="deadline-lunch-input" process="@this" actionListener="#{dayPlanConfigController.resetLunch}" class="button-abort"/>
                
                <h2 style="margin-top: 40px;">Initialisieren: </h2>
                <p:commandButton value="Initialisieren" actionListener="#{dayPlanConfigController.initSystem()}" 
                                 process="@this" class="button-create" style="margin-bottom: 20px;" 
                                 oncomplete="PF('successInitDialog').show()"/>
                
                <h2 style="margin-top: 40px;">Zurücksetzen: </h2>
                <p:commandButton value="Zurücksetzen" actionListener="#{dayPlanConfigController.resetConfigs()}" 
                                 process="@this" class="button-abort" style="margin-bottom: 20px;"
                                 oncomplete="PF('successResetDialog').show()"/>
                
                <p:dialog header="Änderungen übernommen" widgetVar="successDialog">
                    <h4>Ihre Änderunge wurden erfolgreich gespeichert</h4>
                    <p:commandButton value="Schließen" class="button-create" oncomplete="PF('successDialog').hide()"/>
                </p:dialog>
                
                <p:dialog header="Initialisierung abgeschlossen" widgetVar="successInitDialog">
                    <h4>Initialisierung des Systems war erfolgreich</h4>
                    <p:commandButton value="Schließen" class="button-create" oncomplete="PF('successInitDialog').hide()"/>
                </p:dialog>
                
                <p:dialog header="Zurücksetzen abgeschlossen" widgetVar="successResetDialog">
                    <h4>Zurücksetzen des Systems war erfolgreich</h4>
                    <p:commandButton value="Schließen" class="button-create" oncomplete="PF('successResetDialog').hide()"/>
                </p:dialog>
            </div>
        </h:form>
    </ui:define>
</ui:composition>