<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition>
        
        <link rel="icon" type="image/x-icon" href="assets/static/favicon.ico"/>
        
        
        <!-- Presentation site menu-->
        <h:panelGroup rendered="#{!sessionInfoBean.loggedIn}">
            <div class="navbar navbar-fixed-top navbar-inverse">
                <div class="container-fluid full">
                    <div class="navbar-inner">
                        <ul class="nav navbar-nav">
                            <li><a href="/welcome.xhtml" id="home">HOME</a></li>
                            <li><a href="#" id="info">ÜBER UNS</a></li>
                            <li><a href="#" id="reachable">ANFAHRT</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/login.xhtml" id="login"><span class="glyphicon glyphicon-user"></span> ANMELDEN</a></li>
                        </ul>
                    </div>
                </div>      
            </div>
        </h:panelGroup>  
        
        
        
        
        
        <!-- Loggedin menu -->
        <h:panelGroup rendered="#{sessionInfoBean.loggedIn}">
            <c:if test="#{sessionInfoBean.hasRole('EMPLOYEE')}">
            <div class="topnav" id="myTopnavEmployee">
                <a href="./home.xhtml">HOME</a>
                <a href="./parent-tasks.xhtml">AUFGABEN</a>
                <a href="./dayplan-overview.xhtml">TAGESPLANER</a>
                <a href="./lunch.xhtml">MITTAGESSEN</a>
                <a href="/logout" style="margin-top: 20px;">LOGOUT</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
              </div>
            </c:if>
            
            <c:if test="#{sessionInfoBean.hasRole('PARENT')}">
            <div class="topnav" id="myTopnavParent">
                <a href="./home.xhtml">HOME</a>
                <a href="./task.xhtml">AUFGABEN</a>
                <a href="./attendance.xhtml">ANWESENHEITEN</a>
                <a href="./lunch-overview.xhtml">MITTAGSESSEN ÜBERSICHT</a>
                <a href="./lunch-registration.xhtml">MITTAGSESSEN ANMELDUNG</a>
                <a href="/logout" style="margin-top: 20px;">LOGOUT</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
              </div>
            </c:if>
            
            <div class="work-menu" id="work-menu" >
                <div class="row" id="header">
                    <div class="work-menu-bar">
                        <a href="./home.xhtml" id="logo-link">
                            <div class="login-logo">                                
                                <img src="../../resources/images/logo_white.png" id="logo-picture" style="max-width: 90%;"/>                            
                            </div>
                        </a>
                    </div>
                </div>
                
                
                <div class="work-menu-link">
                    <hr size="1px" style="color: white; background-color: white; margin: 0;"/> 
                    <a href="./home.xhtml" id="home" style="text-decoration: none;"><div class="work-menu-item">                            
                            <h6 class="work-item-font">HOME</h6>
                        </div> </a>
                    
                    <hr size="1px" style="color: white; background-color: white; margin: 0;"/>

                    <c:if test="#{sessionInfoBean.hasRole('PARENT')}">
                        <a href="./attendance.xhtml" id="parent-attendances" style="text-decoration: none"><div class="work-menu-item">
                            <h6 class="work-item-font">ANMELDUNGEN</h6>
                        </div></a>
                        <hr size="1px" style="color: white; background-color: white; margin: 0;"/>
                    </c:if>

                    <c:if test="#{sessionInfoBean.hasRole('EMPLOYEE')}">
                        <a href="./parent-tasks.xhtml" id="employee-tasks" style="text-decoration: none"><div class="work-menu-item">                                                       
                                <h6 class="work-item-font">AUFGABEN</h6>                                                                                   
                        </div></a> 
                    </c:if>
                    
                     <c:if test="#{sessionInfoBean.hasRole('PARENT')}">
                         <a href="./task.xhtml" id="parent-tasks" style="text-decoration: none"><div class="work-menu-item">
                                <h6 class="work-item-font">AUFGABEN</h6>                                                                                   
                        </div></a> 
                    </c:if> 
                    
                    <hr size="1px" style="color: white; background-color: white; margin: 0;"/> 
                    
                     <c:if test="#{sessionInfoBean.hasRole('EMPLOYEE')}">
                         <a href="./dayplan-select.xhtml" id="employee-dayplan" style="text-decoration: none"><div class="work-menu-item">                                                       
                                <h6 class="work-item-font">TAGESPLANER</h6>                    
                        </div></a>
                         <hr size="1px" style="color: white; background-color: white; margin: 0;"/>   
                    </c:if>                                        
                    
                     <c:if test="#{sessionInfoBean.hasRole('EMPLOYEE')}">
                         <a href="./lunch.xhtml" id="employee-menu" style="text-decoration: none"><div class="work-menu-item">                                                       
                                <h6 class="work-item-font">MITTAGESSEN</h6>                                                                                    
                        </div></a>      
                         </c:if>
                    
                    <c:if test="#{sessionInfoBean.hasRole('PARENT')}">
                        <div class="dropdown-action">
                            <a href="#" id="parent-menu" style="text-decoration: none"><div class="work-menu-item">
                                    <h6 class="work-item-font">MITTAGESSEN</h6>
                            </div></a>
                                <div class="submenu-content" id="drop-lunch">
                                <a href="./lunch-overview.xhtml" id="parent-lunch-overview" style="text-decoration: none;">
                                    <div class="work-submenu-item">
                                        <h6 class="work-subitem-font">ÜBERSICHT</h6>
                                    </div>
                                </a>
                                <hr size="1px" style=" color: white; background-color: white; margin: 0;"/>
                                <a href="./lunch-registration.xhtml" id="parent-lunch-registration" style="text-decoration: none;">
                                    <div class="work-submenu-item">
                                        <h6 class="work-subitem-font">ANMELDEN</h6>
                                    </div>
                                </a>
                                </div>
                        </div>
                    </c:if>
                    
                    
                    <hr size="1px" style="color: white; background-color: white; margin: 0;"/>   
                    
                    <c:if test="#{sessionInfoBean.hasRole('EMPLOYEE')}">
                         <a href="./system-settings.xhtml" id="system-menu" style="text-decoration: none"><div class="work-menu-item">                                                       
                                <h6 class="work-item-font">SYSTEMVERWALTUNG</h6>                                                                                    
                        </div></a>  
                          <hr size="1px" style="color: white; background-color: white; margin: 0;"/>
                         </c:if>
                    
                    <div class="dropdown-action">
                         <c:if test="#{sessionInfoBean.hasRole('EMPLOYEE')}">
                             <a href="#" id="employee-user-settings" style="text-decoration: none;"><div class="work-menu-item">                                
                               
                                    <h6 class="work-item-font">BENUTZERVERWALTUNG</h6>
                              
                                                                
                            </div></a>
                          </c:if>
                        
                        <c:if test="#{sessionInfoBean.hasRole('PARENT')}">
                            <a href="#" id="parent-user-settings" style="text-decoration: none;"><div class="work-menu-item">
                                    <h6 class="work-item-font">EINSTELLUNGEN</h6>
                                    </div></a>
                                </c:if>

                        <hr size="1px" style="color: white; background-color: white; margin: 0;"/>
                        <c:if test="#{sessionInfoBean.hasRole('EMPLOYEE')}">
                        <div class="submenu-content" id="drop">
                            <a href="./child-settings.xhtml" id="employee-child-settings" style="text-decoration: none;">
                                <div class="work-submenu-item">
                                    <h6 class="work-subitem-font">KINDER</h6>
                                </div>
                            </a>
                            <hr size="1px" style=" color: white; background-color: white; margin: 0;"/>
                            <a href="./parent-settings.xhtml" id="employee-parent-settings" style="text-decoration: none;">
                                <div class="work-submenu-item">
                                    <h6 class="work-subitem-font">ELTERN</h6>
                                </div>
                            </a>
                            <hr size="1px" style="color: white; background-color: white; margin: 0;"/>
                            <a href="./employee-settings.xhtml" id="employee-settings" style="text-decoration: none;">
                                <div class="work-submenu-item">
                                    <h6 class="work-subitem-font">PERSONAL</h6>
                                </div>
                            </a>
                            <hr size="1px" style="color: white; background-color: white; margin: 0;"/>
                        </div>
                        </c:if>

                        <c:if test="#{sessionInfoBean.hasRole('PARENT')}">
                        <div class="submenu-content" id="drop">
                            <a href="./child-settings.xhtml" id="parent-child-settings" style="text-decoration: none;">
                                <div class="work-submenu-item">
                                    <h6 class="work-subitem-font">KINDER</h6>
                                </div>
                            </a>
                            <hr size="1px" style=" color: white; background-color: white; margin: 0;"/>
                            <a href="./caregiver-settings.xhtml" id="parent-caregiver-settings" style="text-decoration: none;">
                                <div class="work-submenu-item">
                                    <h6 class="work-subitem-font">BEZUGSPERSONEN</h6>
                                </div>
                            </a>
                            <hr size="1px" style=" color: white; background-color: white; margin: 0;"/>
                            <a onclick="#{userDetailController.setCurrentUser()} and #{fileUploadController.setId(userDetailController.user.getId())}" href="./parent-settings.xhtml" id="parent-settings" style="text-decoration: none;">
                                <div class="work-submenu-item">
                                    <h6 class="work-subitem-font">EIGENE</h6>
                                </div>
                            </a>
                            <hr size="1px" style="color: white; background-color: white; margin: 0;"/>
                        </div>
                        </c:if>
                    </div>
                    
                </div>
                
                <a href="/logout" id="logout" style="text-decoration: none;"><div class="logout">
                        <hr style=" color: white; background-color: white; margin: 0; margin-bottom: 40px;"/>             
                        <h6 class="work-item-font">LOGOUT</h6>
                    </div></a>
            </div>
            
            <script>
                function myFunction() {
                    var x = document.getElementById("myTopnavEmployee") || document.getElementById("myTopnavParent");
                    if (x.className === "topnav") {
                        x.className += " responsive";
                    } else {
                        x.className = "topnav";
                    }
                }                
            </script>
        </h:panelGroup>
    </ui:composition>
</html>

