<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">

        <h:outputStylesheet name="css/style-login.css" />
            
        <h:form>
            <!--Render Menu for presentation site while logged out-->
            <h:panelGroup rendered="#{!sessionInfoBean.loggedIn}">
                
                <!-- Start of the logo/logout header-->
                <div class ="presentation-menu-bar">
                    <div class="presentation-logo">
                        <a href="/welcome.xhtml" id="logo-link">
                            <img src="../../resources/images/logo_white.png" id="logo-picture" style="max-width: 80%;"/>
                        </a>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
		
        <div id="login-space">
                <form id="login_form" action="#{request.contextPath}/login" method="post">
                    <h3 class="login-text">LOGIN</h3>                 
                    <p:inputText id="username" class="in-email" type="text" label="E-Mail Adresse" required="true" 
                                 placeholder="E-MAIL ADRESSE" style="border-radius: 0px !important;"/>
                    <p:inputText id="password" class="in-passwd" type="password" label="Passwort" required="true" 
                                 placeholder="PASSWORT" style="border-radius: 0px !important;"/>
                    <h:outputText value="Anmeldung nicht erfolgreich!
                                  Überprüfen Sie die E-Mail Adresse und das Passwort" rendered="#{not empty SPRING_SECURITY_LAST_EXCEPTION}" class="login-error"/>
                    <button type="submit" id="login-button" class="ui-button">
                        <span class="ui-button-text">anmelden</span>
                    </button>
                </form>
        </div>

    </ui:define>
</ui:composition>